@import "util/util";
$white: #ffffff;
$primary-color: #EB0028;
$bgpanel-color: #dce7e4;
$black: #000000;
$img: "../../images";
$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    llarge: 1280px,
    xlarge: 1360px,
    xxlarge: 1440px,
);