
.socialMedia{
    margin-top: 90px;
    p{
        a{
            text-decoration: underline;
            &:hover{
                text-decoration:none;
            }
        }
    }
}
.socialMedia .heroBlock {
          background: #f1f1f1;
       padding: 41px 141px 40px 138px;

  h2, h1 {
    margin-bottom: 12px;
    font-size: 50px !important;
    line-height: 70px !important;
  }

}
.juicer-feed{
  *{
            font-family: "Archivo Narrow";
  }
  p{
    font-size: 18px;
    font-weight: 400;
  }
  .j-stacker-wrapper{
        background: #1268e5;
    padding: 15px 20px 45px 20px;
  }

.j-display-filters {
      padding: 41px 141px 40px 138px !important;
      background: #f1f1f1;
      margin-top: 0px !important;
      margin-bottom: 40px;
      list-style: none;
      padding: 0;
      margin-left: 0px;
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
        font-family: "Archivo Narrow";
        font-size: 24px;
        font-weight: 700;
      @include breakpoint(large) {
          padding: 45px 20px 22px 20px !important;

      }
      @include breakpoint(medium) {
            flex-wrap: wrap;
          text-align: center;
        justify-content: center;
  }
    @include breakpoint(small only) {
            flex-wrap: wrap;
          text-align: center;
        justify-content: center;
  }
      li {
        padding: 0;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        font-family: "Archivo Narrow";
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-width: 180px;
        border: 3px solid #1268e5 !important;
        min-height: 45px;
        text-align: center;
        font-size: 24px;
        color: #1268e5;
        cursor: pointer;
        background: transparent !important;
        -webkit-transition: all .3s;
        transition: all .3s;
      @include breakpoint(large only) {
            min-width: 140px;
            font-size: 18px;
      }
      @include breakpoint(medium only) {
       margin-left: 0px !important;
       margin-right: 0px !important;
       margin-bottom: 0px !important;
       margin-top: 25px !important;
          width: 100%;
}
  @include breakpoint(small only) {
       margin-left: 0px !important;
       margin-right: 0px !important;
       margin-bottom: 0px !important;
       margin-top: 25px !important;
          width: 100%;
}
        &.all.highlight{
          background: #1c375e !important;
          color: #fff !important;
          border: 3px solid #1268e5 !important;
      }
      &.highlight{
          border: 3px solid #1268e5 !important;
      }
      &:hover {
         /* background: #1c375e !important;
          color: #fff !important;*/
                  border: 3px solid #1268e5 !important;

        }
      }
    }
  }
  .juicer-feed .j-display-filters li:before{

    font-size: 23px;
  }
   .juicer-feed{
    margin-bottom: 90px !important;
  }
@media (max-width: 1279px) {
  .socialMedia .heroBlock {
    h2, h1 {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .socialMedia .heroBlock {
    h2, h1 {
      margin-bottom: 16px;
    }
  }
}


@media (max-width: 767px) {
  .socialMedia .heroBlock {
    h2, h1 {
      margin-bottom: 23px;
    }
  }
}

@media (max-width: 1279px) {
  .socialMedia .heroBlock {
    padding: 45px 20px 22px 20px;
  }
}

@media (max-width: 1023px) {
  .socialMedia .heroBlock {
    padding: 41px 20px 5px 20px;
  }
}

@media (max-width: 767px) {
  .socialMedia .heroBlock {
    padding: 25px 10px 5px 10px;
  }
}

@media (max-width: 1279px) {
  .socialMedia .heroBlock .bgWrap ul {
    margin-top: 27px;
  }
}

@media (max-width: 1023px) {
  .socialMedia .heroBlock .bgWrap ul {
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .socialMedia .heroBlock .bgWrap ul {
    margin-top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 1279px) {
  .socialMedia .heroBlock .bgWrap ul li {
    min-width: 151px;
    min-height: 38px;
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .socialMedia .heroBlock .bgWrap ul li {
    min-width: 181px;
    min-height: 45px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .socialMedia .heroBlock .bgWrap ul li {
    max-width: 180px;
    margin-right: 0px;
  }
}

.galleryPanel {
  margin-top: 80px;
  margin-bottom: 100px;

  .bgWrap {
    background: #1268e5;
    padding: 15px 20px 45px 20px;

    .filtr-container {
      z-index: 1;
      overflow: hidden;

      .filtr-item {
        width: 33.3%;
      }

      .flexPanelWrap {
        display: block;
        padding: 10px;
        margin: 16px 5px 16px 5px;
        background: #fff;

        .flexPanelHead {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          margin-bottom: 10px;

          .headLogo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            figure {
              width: 40px;
              height: 40px;

              img {
                border-radius: 50%;
                max-width: 100%;
                max-height: 100%;
              }
            }

            h5 {
              margin-left: 10px;
              color: #14171a;
              font-size: 19px;
              font-weight: bold;
            }
          }

          .headDate {
            color: #c7c7c7;
            font-size: 15px;
            font-weight: bold;
          }
        }

        .flexPanelBody {
          figure {
            margin-bottom: 10px;

            img {
              width: 100%;
              border: 1px solid #d6d6d6;
            }
          }

          p {
            font-size: 15px;
            line-height: normal;

            a {
              color: #1268e5;
            }
          }
        }

        .flexPanelFoot {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          margin-top: 60px;

          .flexIcon {
            float: right;

            figure {
              max-width: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .galleryPanel {
    margin-top: 60px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .galleryPanel {
    margin-top: 40px;
    max-width: 410px;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .containerWrapper {
    padding: 0;
  }
}

@media (max-width: 1279px) {
  .galleryPanel .bgWrap {
    padding: 15px 10px 15px 10px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap {
    padding: 7px 2px 13px 2px;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap {
    padding: 12px 0px 15px 0px;
  }
}

@media (max-width: 1279px) {
  .galleryPanel .bgWrap .filtr-container .filtr-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap .filtr-container .filtr-item {
    width: 100%;
  }
}

@media (max-width: 1279px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap {
    margin: 16px 18px 16px 18px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap {
    margin: 13px 16px 13px 16px;
    padding: 8px;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap {
    margin: 15px 16px 15px 16px;
    padding: 6px;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelHead {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelHead .headLogo figure {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelHead .headLogo h5 {
    font-size: 17px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelHead .headDate {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelBody figure {
    margin-bottom: 6px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelBody p {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelFoot {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelFoot {
    margin-top: 5px;
  }
}

@media (max-width: 1023px) {
  .galleryPanel .bgWrap .filtr-container .flexPanelWrap .flexPanelFoot .flexIcon figure {
    max-width: 20px;
  }
}