

{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no,shrink-to-fit=no" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="{{root}}assets/images/favicon.ico">
    <title> Walden Anniversary Timeline | Walden Bank </title>
    <meta name="title" content="" />
    <meta name="description" content="" />      
    <link rel="stylesheet" href="{{root}}assets/plugins/css/font.css">
    <link rel="stylesheet" href="{{root}}assets/plugins/css/jquery-ui.min.css">
    <link rel="stylesheet" href="{{root}}assets/css/style.css" media="all">
</head>

<body>

    <div id="skiptocontent"><a href="#maincontent" alt="skip to main content">skip to main content</a></div>
    <div class="sitewrap">  
        <div class="siteInner">
            <header class="sticky">                                   
            </header>
            <div class="stickyEmpty">
            </div>
        <!-- <div class="bannerpanel module come-in" id="maincontent">
            <div class="homeBanner nonvideo" id="video-banner">
            <div class="imgWrap nonvideo">
            <figure>
            <style type="text/css">
            @media screen and (min-width: 320px) {
            .bannerpanel .homeBanner .imgWrap figure {
            background: url('assets/images/banner.jpg') no-repeat center;
            background-size: cover;
            }
            }
            @media only screen and (min-width:768px) {
            .bannerpanel .homeBanner .imgWrap figure {
            background: url('assets/images/banner.jpg') no-repeat center;
            background-size: cover;
            }
            }
            @media only screen and (min-width:1024px) {
            .bannerpanel .homeBanner .imgWrap figure {
            background: url('assets/images/banner.jpg') no-repeat center;
            background-size: cover;
            }
            }
            @media only screen and (min-width:1366px) {
            .bannerpanel .homeBanner .imgWrap figure {
            background: url('assets/images/banner.jpg') no-repeat center;
            background-size: cover;
            }
            }
            </style>
            </figure>
            </div>
            <div class="bannerwrap grid-container">
            <div class="content">
            <div class="textsec"><a href="#">
                <img src="{{root}}assets/images/walden-150-logo.svg" alt="Walden Bank 150 White Logor" width="288" height="107" loading="lazy" class="lazyload">
            </a> </div>
            </div>
            </div>
            </div>
            </div>     -->
        <div class="bannerpanel module" id="maincontent">
            <div class="homeBanner" id="video-banner">
                <div class="imgWrap">
                    <div class="video-container">
                        <div class="video-panel">
                            <div class="filter-img onloadVideo">
                                <figure class="videoPanel video-thumb-image noSpeedBump" data-videoSource="youtube" style="background: url('assets/images/banner.jpg') no-repeat top; background-size: 100%;">
                                   
                                   
                                    <div id="ytplayer-1" class="youtube-video-src" data-videoId="-zIhMQ7B6ps"></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="bannerwrap grid-container">
                    <div class="content">
                        <div class="video-controller">
                            <div class="play-bt" style="display:none;"></div>
                            <div class="pause-bt"></div>
                            <div id="mute" class="mute-bt mute"></div>
                        </div>
                        <div class="textsec">
                            <a href="#">
                                <img src="{{root}}assets/images/walden-150-logo.svg" alt="Walden Bank 150 White Logor" width="288" height="107" loading="lazy" class="lazyload">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          



            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}



                

            <footer class="threecol module">
                <div class="grid-container">

                        <div class="footersec">
                            <div class="column-1">
                                <div class="fLogo">
                                <a href="#">
                                    <img src="{{root}}assets/images/walden-150-footer.svg" alt="Walden Bank 150 White Logor" width="288" height="107" loading="lazy" class="lazyload">

                                </a>
                            </div>

                            </div>
                      
                            <div class="column-3">
                               
                               
                                    <ul class="footerlinks">
                                        <li>
                                            © 2022 Walden Savings Bank
                                        </li>
                                        <li>
                                            All Rights Reserved 
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="instagram">
                                                Privacy Policy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://multimediasolutions.com/" target="_blank">Site Designed & Developed By Multimedia Solutions</a>
                                        </li>
                                       
                                    </ul>
                                    <div class="design">
                                    <p>NMLS #: 490957</p>
                                    <img src="{{root}}assets/images/fdic.svg" alt="Member FDIC" width="111" height="47" loading="lazy" class="lazyload">
                                </div>
                            </div>
                           
                        </div>
                    
                </div>


            </footer>
</div>
</div>
</body>


    <a href="javascript:void(0)" class="backtoTop" title="Back to top">

        <span> </span>
    </a>

    <script src="{{root}}assets/plugins/js/jquery.min.js"></script>
    <script src="{{root}}assets/plugins/js/jquery-ui.min.js" ></script>
    <script src="{{root}}assets/plugins/js/lazysizes.min.js" ></script>
    <script src="{{root}}assets/plugins/js/timeline.js" ></script>
    
   
</body>

</html>