html:not([lang=en]){
    .secondary-nav .mainmenu li a{
        font-size: 16px; 
    }
    .headerMainWrapper .header-menu li a{
        font-size: 15px;
    }
    .header-submenu .mainsubMenu{
        justify-content: space-between;
    }
    .header-submenu .mainsubMenu li a{
        padding-left: 15.08px;
        padding-right: 15.08px;
        font-size: 15px;
    }
    .header-submenu .mainsubMenu .singleMenuWrap li a{
        font-size: 10px;
        padding: 0;
    }
    .contentwrapper .content h1, .contentwrapper .content h2{
        font-size: 60px;
        @include breakpoint(small only) {
            font-size: 50px;
        }
    }
    .addpanel .addpanelbg h2{
        font-size: 50px;
    }
    .addpanel .addpanelbg p{
        font-size: 22px; 
        letter-spacing: 0;
    }
    .counterpanel .counter .counter-col .count-digit{
        font-size: 55px;
    }
    .counterpanel .counter .counter-col p{
        font-size: 14px;
        @include breakpoint(small only) {
            font-size: 13px;
        }
    }
    .searachpanel .contentsec h2{
        font-size: 28px;
    }
    .searachpanel .contentsec p{
        font-size: 18px;
    }
    .curve_title{
        font-size: 18px;
        display: block;
        padding-top: 5px;
    }
    .second-level-widget .searchByLastName .exploreLetter li a{
        font-size: 15px;
        padding: 0;
    }
    .newsletterPannel h3, .newsletterPannel h5, .ctaborder.whitebtn, .newsletterPannel form button.ctaborder, .newsletterPannel form .btn.primary, .newsletterPannel .umbraco-forms-page button.ctaborder, .newsletterPannel .umbraco-forms-page .btn.primary{
        font-size: 20px;
    }
    p, ul, li, a, .searachpanel .contentsec .appointment_link, .single_gridpanel .contentsec p, .single_gridpanel .contentsec .twotile_title, 
    footer .thirdfooter .column-2 .footerlinks li, footer .thirdfooter .column-2 .footerlinks li a, .header-submenu .magasubfn-megamenu-wrapper .magasubfn-megamenu .servicesmenu li a{
        font-size: 16px;
    }
    footer .secondaryfooter .column-6 p a[href^="tel:"], footer .secondaryfooter .column-6 li a[href^="tel:"]{
        font-size: 20px;
    }
    .formSearch.searchOpen .headRgt .searchBlock .mainWraps .menuList .menuContent h4{
        font-size: 16px;
    }
    .three_gridpanel .gridinfo .content_list li{
        line-height: 20px;
    }
    .alertsPannel .alertsWrap p, .alertsPannel .alertsWrap a{
        font-size: 14px;
    }
    footer.threerow li, footer.threerow a, footer.threerow p{
        line-height: 25px;
    }
    .address p{
        height: 195px;
        @include breakpoint(small only) {
            height:unset;
        }
    }
    .about_ourpurpose .addpanelbg .our_dis {
        margin-top: 0px;
    }
    .ctaborder.secondarybtn.smallbtn.view {
        padding: 13px 5px !important;
        height: auto;
    }
    .imagecontent .ctaborder .dwl_btn::after {
        left: 170px;
        max-width: 25px;
        max-height: 25px;
        top:13px
    }
    .ourservicespanel .filtercolumn .spfilter .resultsec {
        padding-left: 25px;
    }
    .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection .locationbtnwrp .ctaborder.border-left {
        font-size: 14px;
    }
    .ourservicespanel .resulthighlight .innerWrap .locationwrp .columns-2 {
        padding-left: 10px;
    }
    .ourservicespanel .subbannerpanel .bannerwrap.searchwrap .search-box-panel .column-1 .head-p {
        font-size: 15px;
    }
    .locationpanel .inputWrap .dataFilter .column-3 .input-group-append .ctaborder {
        font-size: 14px;
        padding: 8px 0px;
    }
    .locationpanel .inputWrap .dataFilter .title-h4 {
        font-size: 16px;
    }
    .locationpanel .mapFilter .innerWrap .locationWrap .addresswrap .locationbtnwrap .ctaborder {
        height: 40px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ourservicespanel .resulthighlight .innerWrap .locationbtnwrp .ctaborder {
        font-size: 15px;
    }
    .ourservicespanel .resulthighlight .innerWrap .locationbtnwrp .ctaborder.secondarybtn {
        max-width: 190px;
    }
    .ourservicespanel .subbannerpanel .bannerwrap.searchwrap .search-box-panel .column-1 .head-p {
        line-height: 20px;
    }
    .ourservicesdetailspanel .locpanel .toppanel .GridContentWrap .contesection .contentheading .titlehead {
        font-size: 35px;
    }
    .ourservicesdetailspanel .headingwrap .locationbtnwrp .ctaborder {
        font-size: 15px;
    }
    .ourservicesdetailspanel .locpanel .toppanel .locationlistpanel .loclistwrap .loclist {
        padding-left: 20px;
        padding-right: 20px;
    }
    .ourservicesdetailspanel .locpanel .toppanel .locationlistpanel .loclistwrap .loclist .contentlist p {
        font-size: 20px;
    }
    .servicelistpanels .servicewrapper div.darkbg .content p {
        display: block;
    }
    .contactpanel .contactwrap .iconsec a .linkContnet {
        font-size: 16px;
        margin-left: 165px;
        margin: 0 auto;
    }
    .generalcontent .general_btn .submitbtn .ctaborder {
        padding: 5.5px 5px;
        width: 145px;
    }
    .generalcontent .general_btn .viewplan .ctaborder {
        font-size: 18px;
    }
    .generalcontent .general_btn .job_opportunities .ctaborder {
        font-size: 18px;
        padding: 15.5px 10px;
    }
    .generalcontent .general_btn .backbtn .ctaborder.graybtn {
        padding: 5.5px 10px;
        width: 160px;
    }
    .address p {
        height: 230px;
    }
    .doctorsbuttonpanel .btnwrap .back-btn {
         max-width:unset;
    }
    .locationpanel .mapFilter .innerWrap .locationWrap .addresswrap .locationbtnwrap .ctaborder{
        font-size: 14px;
    }
    .newspanels .filtercolumn .column-2{
        max-width: 552px;
    }
    .newspanels .filtercolumn .column-2 .showfilter .resultpage-text{
        max-width: 424px;
    }
    .newspanels .searachpanel .contentsec .finddoctor .input-group .ctaborder{
        margin-left: 5px;
        padding: 8px 10px;
    }
    .locationpanel .inputWrap .dataFilter .column-3{
        max-width: 310px;
    }
    .locationpanel .inputWrap .dataFilter .column-1{
        max-width: 310px;
    }
    .locationpanel .inputWrap .dataFilter .column-3 .input-group-append .ctaborder{
        padding: 8px 6px;
    }
}
@media (min-width: 1024px) and (max-width: 1220px)
{
    html:not([lang=en]) .doctor_details .resultcontent .parentWrap .resulthighlight .innerWrap .locationwrp .ctaborder.secondarybtn {
        padding: 25px 30px;
    }
   
}
@include breakpoint(small only) {
html:not([lang=en]) footer .thirdfooter .column-2 .footerlinks li{
    line-height: 45px;
}
html:not([lang=en]) .subbannerpanel.nobanner .bannerwrapheight {
    min-height: 160px;
}
html:not([lang=en]) .generalcontent .general_btn .job_opportunities .ctaborder {
    font-size: 17px;
    padding: 15.5px 10px;
}
}

@media print, screen and (max-width: 47.99875em)
{
    html:not([lang=en]) .heading-title h2 {
    overflow-wrap: break-word;
    }
} 
@media print, screen and (min-width: 64em) and (max-width: 84.99875em){
    html:not([lang=en]) {
        footer .thirdfooter .column-2 .footerlinks li, footer .thirdfooter .column-2 .footerlinks li a{
            font-size: 13px;
        }
        .counterpanel .counter .counter-col .count-digit {
            font-size: 35px;
        }
    }
}
@media (min-width: 1279px) and (max-width: 1500px){
    html:not([lang=en]){
        .header-submenu .mainsubMenu li a{
            font-size: 14px;
        }
    }   
}
@media (min-width: 1024px) and (max-width: 1279px){
    html:not([lang=en]){
        .header-submenu .mainsubMenu li:first-child a.first-level-link {
            padding-left: 11.45px;
            padding-right: 9.45px;
        }
        .header-submenu .mainsubMenu li a, .header-submenu .mainsubMenu .singleMenuWrap li a{
            padding-left: 4.08px;
            padding-right: 4.08px;
            font-size: 10px;
        }
        .header-submenu .mainsubMenu .singleMenuWrap ul{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        .contentwrapper .content h1, .addpanel .addpanelbg h2{
            font-size: 40px;
        }
        .addpanel .addpanelbg p
        {
            font-size: 20px;
        }
        .counterpanel .counter .counter-col p{
            font-size: 13px;
        }
        footer .thirdfooter a, p, ul, li, a{
            font-size: 14px;
        }
        footer .thirdfooter .column-1{
            padding-left: 15px;
        }
        footer .secondaryfooter .column-6 p a[href^="tel:"], footer .secondaryfooter .column-6 li a[href^="tel:"]{
            font-size: 16px;
        }
        .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection .locationbtnwrp .ctaborder + .ctaborder {
            margin-left: 0 !important;
        }
        .ourservicesdetailspanel .locpanel .toppanel .GridContentWrap .contesection .contentheading .titlehead {
            font-size: 30px;
        }
        .contactpanel .contactwrap .iconsec a .linkContnet {
            font-size: 13px;
        }
        .address p {
            height: 180px;
        }
    }
}
@media (min-width: 767px) and (max-width: 1024px){  
    html:not([lang=en]){
        footer .thirdfooter .column-2 .footerlinks li{
            margin-right: 45px;
        }
        footer .thirdfooter .column-2 .footerlinks li:after{
            display: none;
        }
        .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection .locationbtnwrp .ctaborder + .ctaborder {
            margin-left: 0 !important;
        }
        .ourservicesdetailspanel .locpanel .toppanel .GridContentWrap .contesection .contentheading .titlehead {
            font-size: 30px;
        }
        .page404Wrap h3 {
            line-height: 60px;
        }
        .contactpanel .contactwrap .iconsec a .linkContnet {
            font-size: 13px;
        }
    }
  }
  @media (min-width: 767px) and (max-width: 1023px){  
    html:not([lang=en]){
        .address p{
            height:105px;
        }
    }
  }
  @media (max-width: 767px){  
    html:not([lang=en]){
        .ctaborder.secondarybtn.smallbtn.view {
            padding: 8px 5px !important;
        }
        .imagecontent .ctaborder.view {
            width: 160px;
        }
        .imagecontent .ctaborder .dwl_btn::after {
            left: 130px;
        }
        .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection .locationbtnwrp .ctaborder + .ctaborder {
            margin-left: 0 !important;
        }
        .ourservicesdetailspanel .locpanel .toppanel .GridContentWrap .contesection .contentheading .titlehead {
            font-size: 25px;
        }
        .address p {
            height: 75px;
        }
        .counterpanel .counter .counter-col {
            width: 51%;
        }
        .locationpanel .mapFilter .innerWrap .locationWrap .addresswrap .locationbtnwrap .ctaborder{
            font-size: 12px;
        }
    }
    .doctorsbuttonpanel .btnwrap .back-btn {
            max-width:unset;
            text-align: center;
    }
  }
  @media (min-width: 1360px) and (max-width: 1920px)
  {
  html[lang="de"] footer.threerow .address p {
    line-height: 35px;
    font-size: 24px;
  }
}
@media (min-width: 1280px) and (max-width: 1360px)
{
    html:not([lang=en]) .locationpanel .mapFilter .innerWrap .locationWrap .addresswrap .locationbtnwrap .ctaborder {
      font-size: 14px;
      padding: 0px 5px;
    }
    html:not([lang=en]) .address p {
        height: 175px;
    }
}
@media print, screen and (min-width: 48em)
{
    html:not([lang=en]) .searachpanel .contentsec h2::after {
        left: 60px;
    }
}

@media print, screen and (max-width:375px)
{
    html:not([lang=en]) .newsdetails .grid-container .social-share ul {
        left: 80px;
    }
}
@media print, screen and (max-width:767)
{
    html:not([lang=en]) .newsdetails .grid-container .social-share ul {
        left: 150px;
    }
}
@media print, screen and (max-width:450px)
{
    html:not([lang=en]) .newsdetails .grid-container .social-share ul {
        left: 85px;
    }
}
@media print, screen and (max-width: 47.99875em)
{
    html:not([lang=en]) .generalcontent .general_btn .viewplan .ctaborder.view {
        width: 175px;
    }
    html:not([lang=en]) .generalcontent .general_btn .viewplan .ctaborder .dwl_btn::after {
        left: 145px;
    }
    html:not([lang=en]) .generalcontent .general_btn .backbtn .ctaborder.graybtn {
        padding: 5.5px 5px;
        width: 151px;
    }
    html:not([lang=en]) .generalcontent .general_btn .joinbtn .ctaborder {
        padding: 7.3px 3.5px;
        font-size: 20px;
        line-height: 35px;
        border-radius: 0px;
    } 
}
@media print, screen and (max-width: 47.99875em)
{
.generalcontent .general_btn .job_opportunities .ctaborder {
    font-size: 20px;
    padding: 15.5px 40px;
}
}
@media (min-width: 1900px) and (max-width: 1920px)
{
    html:not([lang=en]) .address p {
        height: 166px;
    }

}
@media print, screen and (max-width: 47.99875em)
{
    html:not([lang=en]) .sitemap .group {
        margin-top: 35px;
    }
}
@media (min-width: 1138px) and (max-width: 1280px){  
    html:not([lang=en]){
        .counterpanel .counter .counter-col p {
            width: 208px;
            margin-left: 15px;
        }
    }
}
@media (min-width: 1024px) and (max-width: 1279px){ 
    html:not([lang=en]).firefox .header-submenu .mainsubMenu li a {
        padding-left: 7.04px !important;
        padding-right: 7.04px !important;
        font-size: 11.8px;
    } 
}
html:not([lang=en]).firefox .header-submenu .mainsubMenu li a.first-level-link {
    padding-left: 14.04px;
    padding-right: 14.04px;
}
@media (min-width: 1281px) and (max-width: 1920px)
{
    html:not([lang=en]) .counterpanel .counter .counter-col {
        padding: 64px 20px;
    }
}

@media (max-width: 768px) {
    .ui-menu .ui-menu-item-wrapper{
        font-size: 12px;
    }
}
/*------------Schedule Appointment button hide -----------*/

// a[aria-label="Schedule Appointment"] {
//     display: none;
// }
.threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection {
    padding-bottom: 45px;
}
.ourservicesdetailspanel .headingwrap .locationbtnwrp{
    text-align:right;
}
@media (max-width: 1279px){
    .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection {
        padding-bottom: 95px;
    }
}
@media (max-width: 1023px){
    .ourservicesdetailspanel .headingwrap .locationbtnwrp {
        max-width: 100%;
        text-align: center;
    }
}
/*------------condition dropdonwn hide -----------*/

.magasubfn-megamenu .condition-box, .nav-wrapper nav ul.primarymeu .condition-box, .ourdoctorpanel .subbannerpanel .bannerwrap.searchwrap .doctorserarch .column-1 .second-level-widget .physicianSearchBlock .selctbox.condition-box {
    display: none;
}
.ourdoctorpanel .subbannerpanel .bannerwrap.searchwrap .doctorserarch .column-1 .second-level-widget .physicianSearchBlock .selctbox.name-box {
    margin-left: 0;
}
.ourdoctorpanel .subbannerpanel .bannerwrap.searchwrap .doctorserarch .column-1 .second-level-widget .physicianSearchBlock .selctbox.btn-box .btn-right{
    margin-top: 28px;
}
@media (max-width: 1279px){
.ourdoctorpanel .subbannerpanel .bannerwrap.searchwrap .doctorserarch .column-1 .btn-right {
    text-align: right;
}
}
@media (max-width: 767px){
    .ourdoctorpanel .subbannerpanel .bannerwrap.searchwrap .doctorserarch .column-1 .btn-right {
        text-align: center;
    }
    .ourdoctorpanel .subbannerpanel .bannerwrap.searchwrap .doctorserarch .column-1 .second-level-widget .physicianSearchBlock .selctbox.btn-box .btn-right {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

/*------------Other Languages -----------*/

html[lang=ceb] .header-submenu .mainsubMenu li a, html[lang=ceb] .secondary-nav .mainmenu li a, html[lang=tl] .header-submenu .mainsubMenu li a, html[lang=tl] .secondary-nav .mainmenu li a{
    font-size: 14px;
}
html[lang=ml] .header-submenu .mainsubMenu li a, html[lang=ml] .secondary-nav .mainmenu li a{
    font-size: 11px;
}
html[lang=ml] .headerMainWrapper .header-menu li a, html[lang=ta] .header-submenu .mainsubMenu li a, html[lang=hy] .secondary-nav .mainmenu li a, html[lang=hy] .header-submenu .mainsubMenu li a{
    font-size: 12px;
}
html[lang=ta] .contentwrapper .content h1, html[lang=ta] .contentwrapper .content h2, html[lang=ta] .addpanel .addpanelbg h2, html[lang=ml] .contentwrapper .content h1, html[lang=ml] .contentwrapper .content h2, html[lang=ml] .addpanel .addpanelbg h2 {
    font-size: 35px;
}
html[lang=ta] .searachpanel .contentsec h2, html[lang=ml] .searachpanel .contentsec h2 {
    font-size: 20px;
}
html[lang=ta] .testimonial .carouselSlider .innerWrap .cntWrap .texWrap p, html[lang=ml] .testimonial .carouselSlider .innerWrap .cntWrap .texWrap p{
    font-size: 16px;
}
html:not([lang=en]) .testimonial .carouselSlider .innerWrap .cntWrap .texWrap p{
    font-size: 20px;
}
html[lang=ta] .counterpanel .counter .counter-col p, html[lang=ml] .counterpanel .counter .counter-col p{
    font-size: 12px;
    line-height: 16px;
}
html:not([lang=en]) .counterpanel .counter .counter-col p{
    max-width: 155px;
    margin: 0 auto;
}
html:not([lang=en]) .counterpanel .counter .counter-col p font:empty + br {
    display: none;
}
html[lang=ta] .our_content .our_content_title, html[lang=ml] .our_content .our_content_title{
    font-size: 14px;
}
html[lang=ta] .about_ourpurpose .addpanelbg .our_title p, html[lang=ml] .about_ourpurpose .addpanelbg .our_title p{
font-size: 80px;
}
html[lang=ta] .second-level-widget .searchByLastName .exploreLetter li a, html[lang=ta] .second-level-widget .searchByLastName.exploreLetter li a, html[lang=ta] .second-level-widget .searchByLastName .exploreLetter li a{
font-size: 10px;
}
html[lang=ta] .ourservicespanel .filtercolumn .column-3 .showfilter .show-text, html[lang=ta] .ourservicespanel .filtercolumn .column-3 .showfilter .resultpage-text,
html[lang=ml] .ourservicespanel .filtercolumn .column-3 .showfilter .show-text, html[lang=ml] .ourservicespanel .filtercolumn .column-3 .showfilter .resultpage-text{
font-size: 12px;
}
html[lang=ta] .locationpanel .mapFilter .innerWrap .locationWrap .addresswrap .locationbtnwrap .ctaborder{
    font-size: 12px;
}
html[lang=ga] .locationpanel .inputWrap .dataFilter .column-3 .input-group-append .ctaborder+.ctaborder{
    margin-left: 8px;
}
html:not([lang=en]) .ourservicespanel .filtercolumn .spfilter .resultsec{
    width: calc(100% - 115px);
}
html:not([lang=en]) .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection {
    padding-bottom: 68px;
}
html:not([lang=en]) .newsletterPannel .umbraco-forms h5, html:not([lang=en]) .newsletterPannel .umbraco-forms h3 {
    padding-top: 0;
}
html:not([lang=en]) .patientsvisitors .threecolumnpanels .threeColumnWrap .innerWrap .colblock.patientblock .locationbtnwrp.learnbtn{
max-width: 240px;
}
html:not([lang=en]) .patientsvisitors .threecolumnpanels .threeColumnWrap .innerWrap .colblock.patientblock .locationbtnwrp.learnbtn .ctaborder.secondarybtn{
    max-width: 100%;
}
html:not([lang=en]) .searchresultspage .resultpanels.newspanels .searachpanel .ctaborder{
    font-size: 14px;
}
html:not([lang=en]) .searchresultspage .innerWrap .filter_columnWrap .widgets-container .fitertop .ctaborder{
padding: 8px;
}
html:not([lang=en]) .searchresultspage .innerWrap .filter_columnWrap .widgets-container .fitertop .ctaborder + .ctaborder{
    margin-left: 5px;
}
@media (max-width: 1520px){
    html[lang=ceb] .header-submenu .mainsubMenu li a, html[lang=ceb] .secondary-nav .mainmenu li a, html[lang=tl] .header-submenu .mainsubMenu li a, html[lang=ta] .headerMainWrapper .header-menu li a{
        font-size: 13px;
    }
    html[lang=ml] .header-submenu .mainsubMenu li a, html[lang=ml] .secondary-nav .mainmenu li a{
        font-size: 9px;
    }
    html[lang=ml] .headerMainWrapper .header-menu li a, html[lang=ta] .header-submenu .mainsubMenu li a, html[lang=hy] .secondary-nav .mainmenu li a{
        font-size: 10px;
    }
}
@media (min-width: 1024px) and (max-width: 1360px){
    html:not([lang=en]) .ctaborder.whitebtn{
        font-size: 12px;
        padding: 8px 20px;
    }
    html:not([lang=en]) footer.threerow a{
        font-size: 12px;
    }
    html:not([lang=en]) footer .thirdfooter .column-2 .footerlinks li, html:not([lang=en]) footer .thirdfooter .column-2 .footerlinks li a {
        font-size: 10px;
    }
}
@media (max-width: 1279px){
    html[lang=ceb] .header-submenu .mainsubMenu li a, html[lang=ceb] .secondary-nav .mainmenu li a, html[lang=tl] .header-submenu .mainsubMenu li a{
        font-size: 10px;
    }
    html[lang=ml] .header-submenu .mainsubMenu li a, html[lang=ml] .secondary-nav .mainmenu li a, html[lang=ta] .secondary-nav .mainmenu li a{
        font-size: 11px;
    }
    html[lang=ml] .headerMainWrapper .header-menu li a, html[lang=ta] .headerMainWrapper .header-menu li a, html[lang=hy] .secondary-nav .mainmenu li a{
        font-size: 10px;
    }
    html[lang=ta] .header-submenu .mainsubMenu li a{
        font-size: 9px;
    }
    html[lang=tl] .secondary-nav .mainmenu li a{
        font-size: 11px;
    }
    html[lang=ml] .header-submenu .mainsubMenu li a, html[lang=ml] .secondary-nav .mainmenu li a{
        font-size: 9px;
    }
    html[lang=ta] .contentwrapper .content h1, html[lang=ta] .contentwrapper .content h2 {
        font-size: 26px;
    }
    html:not([lang=en]) .testimonial .carouselSlider .innerWrap .cntWrap .texWrap p{
        font-size: 12px;
    }
    html:not([lang=en]) .threecolumnpanels .threeColumnWrap .innerWrap .colblock .contentsection{
        padding-bottom: 95px;
    }
    html:not([lang=en]) .second-level-widget .title-h2{
        font-size: 13px;
    }
}
@media (max-width: 1023px){
    html:not([lang=en]) .nav-wrapper nav li.has-dropdown > a{
        font-size: 16px;
    }
    html:not([lang=en]) .nav-wrapper nav ul.langmenu .langtogBtn:after{
        top:16px;
    }
    html[lang=ta] .about_ourpurpose .addpanelbg .our_title p, html[lang=ml] .about_ourpurpose .addpanelbg .our_title p{
        font-size: 54px;
    }
    html:not([lang=en]) .locationpanel .inputWrap .dataFilter .column-3, html:not([lang=en]) .locationpanel .inputWrap .dataFilter .column-1{
        max-width: 100%;
    }
}
@media (max-width: 767px){
    html:not([lang=en]) .ourservicespanel .resulthighlight .innerWrap .locationbtnwrp .ctaborder.secondarybtn{
        max-width: 100%;
    }
}