.newsletterPannel {
  margin-top: 79px; 
  @media print, screen and (max-width: 47.99875em) {
    margin-top:45px;
      } 
}
  @media print, screen and (max-width: 47.99875em) {
    .newsletterPannel .grid-container {
      padding-left: 9px !important;
      padding-right: 9px !important; } }
  .newsletterPannel .wraps {
    max-width: 814px;
    margin: 0 auto;
    text-align: center; }
  .newsletterPannel .btn-primary, .umbraco-forms-page .btn.primary {
    background: #BED9D0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    width: 122px;
    border-radius: 0 29px 29px 0;
    height: 58px;
    transition: 0.45s all;
    border: 0;
    color: #000000;
   }
    .newsletterPannel .btn-primary:hover, .umbraco-forms-page .btn.primary:hover {
      background: #0076bf;
      color: #ffffff; }
    @media print, screen and (max-width: 47.99875em) {
      .newsletterPannel .btn-primary, .umbraco-forms-page .btn.primary {
        width: 92px;
        font-size: 14px; } }
   
.newsletterPannel h3 {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 62px;
  text-align: center; }
  @media print, screen and (min-width: 48em) {
    .newsletterPannel h3 {
      text-align: left;
      padding-left: 58px; } }
  @media print, screen and (min-width: 64em) {
    .newsletterPannel h3 {
      font-size: 45px; } }

.newsletterPannel form,
.newsletterPannel .umbraco-forms-page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; }
  .newsletterPannel .umbraco-forms-form fieldset{
    margin: 0;
    padding: 0;
    border: 0;
  }
  .newsletterPannel .umbraco-forms-form .umbraco-forms-navigation {
    padding: 0;
}
.newsletterPannel form .form-group,
.newsletterPannel .umbraco-forms-page .umbraco-forms-field {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  min-width: 695px; }
 
.newsletterPannel form .txtBox,
.newsletterPannel form .umbraco-forms-field-wrapper input,
.newsletterPannel .umbraco-forms-page .txtBox,
.newsletterPannel .umbraco-forms-page .umbraco-forms-field-wrapper input {
  background: #F5F5F5;
  padding: 0 17px;
  height: 58px;
  width: 100%;
  border: 1px solid #F5F5F5;
  font-size: 19px;
  line-height: 58px;
  color: #000000;
  border-radius: 29px 0 0 29px !important;
  padding-left: 58px;
  max-width: 100% !important;
  margin-bottom: 5px !important;
 }
 .newsletterPannel .umbraco-forms-form {
  padding: 0;
}
  @media print, screen and (max-width: 47.99875em) {
    .newsletterPannel form .txtBox,
    .newsletterPannel form .umbraco-forms-field-wrapper input,
    .newsletterPannel .umbraco-forms-page .txtBox,
    .newsletterPannel .umbraco-forms-page .umbraco-forms-field-wrapper input {
      padding-left: 16px;
      font-size: 12px; } }
 
@media (max-width: 992px) {
  .newsletterPannel form .form-group, .newsletterPannel .umbraco-forms-page .umbraco-forms-field{
    min-width: 565px;
  }
}
@media (max-width: 767px) {
  .newsletterPannel form .form-group, .newsletterPannel .umbraco-forms-page .umbraco-forms-field{
    min-width: 263px;
  }
  .umbraco-forms-field-wrapper .field-validation-error{
    font-size: 12px;
  }
}
.newsletterPannel + .socialLnkpanel .sociallinks{
  margin-top: 85px;
  padding-top:0px;
  @media (min-width: 375px) and (max-width: 639px){
    margin-top: 55px;
    padding-top:0px;
  }
}
.newsletterPannel .lbl-success {
  position:relative;
  top:0;
}
.lbl-success{
  color:#67A25F;
}
.lbl-success p{
  font-size: 16px;
}
.lbl-success h4 {
  font-size: 30px;
}