
@import "util/util";
$white: #ffffff;
$primary-color: #0076bf;
$body-font-color: #000000;
$img: "../../images/";
$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    llarge: 1279px,
    xlarge: 1360px,
    xxlarge: 1440px,
);
.sitemap{
  ul:empty{
    display: none;
  }
  ul{
  margin:0px 0px 10px 5px;
    ul{
      margin: 4px 0px 10px 8px;
      margin-top: 15px;
    }
  }
  .group{
    // column-count: 3;
    // column-gap: 100px;
    // margin-top: 55px;
    @include breakpoint(medium only) {
    column-count: 1; 
    margin-top: 30px;
    }
    @include breakpoint(large only) {
      column-gap: 50px;
    }
   @include breakpoint(small only) {
    column-count: 1; 
    margin-top: 30px;
   }
   .heading-title 
   {
    @include breakpoint(medium only) {
      text-align: left;
    }
    &:after{
      @include breakpoint(medium only) {
        left: 0;
      }
    }
    h3{
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 18px;
      @include breakpoint(large only) {
        column-gap: 50px;
        font-size: 28px;
        line-height: 40px;
      }
      @include breakpoint(medium only) {
        font-size: 28px;
        line-height: 30px;
      }
      @include breakpoint(small only) {
        font-size: 25px;
        line-height: 28px;
        text-align: left;
        
      }
      a{
        &:hover{
          text-decoration: unset;
        }
      }
    }
    }
 
  }
  .item{
    break-inside: avoid;
    @include breakpoint(medium) {
      column-count: 3;
      column-gap: 100px;
      margin-top: 0px;
    }
    @include breakpoint(large) {
      margin-top: 55px;
    }
    @include breakpoint(small only) {
      width: 100%;  
    }
    .desc{
      margin-bottom: 35px;
      li{
        a{
          font-size:18px;
          line-height:24px;
          font-weight: 600;
        }
        ul{
          li{
            margin-bottom: 4px;
            a{
              font-weight: 400;
            }
          }
        }
      }
    }
  }
.heading-title 
{
 margin-bottom: 18px;
 @include breakpoint(small only) {
   text-align: left;
   margin-left:0px;
 } 
 &:after{
   @include breakpoint(small only) {
     text-align: left;
     margin-left:0px;
     left:0px; 
   } 
 }
 h2{
   @include breakpoint(small only) {
     text-align: left;
     margin-left:0px;
     &:after{
       left:0px;
     }
   } 
 }
}
}

