{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="{{root}}assets/images/favicon.png">
    <title>Ukraine Immigration Task Force | Home </title>
    <meta name="title" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{root}}assets/plugins/css/font.css">
    <link rel="stylesheet" href="{{root}}assets/plugins/css/jquery-ui.min.css">
    <link rel="stylesheet" href="{{root}}assets/css/style.css" media="all">

</head>

<body>

    <div id="skiptocontent"><a href="#maincontent" alt="skip to main content">skip to main content</a></div>
    <div class="sitewrap">
        <div class="siteInner">
            <header class="sticky">
                <div class="grid-container menugridsec">
                    <div class="flexwrap">
                        <div class="logoBlock">
                            <a href="index.html">
                                <img src="assets/images/logo.svg" alt="Ukraine Immigration Task Force" width="300"
                                    height="97" class="lazyload" loading="lazy" />
                            </a>
                        </div>
                        <div class="headerMainWrapper">
                            <div class="topNavigation">
                                <div class="grid-container">
                                    <ul>
                                        <li class="singlemenu topmenu"><a href="#" class="" title="I'm looking for
                                                resources in">I'm looking for
                                                resources in</a>
                                            <ul class="singleMenuWrap">
                                                <li class="">
                                                    <a href="details.html" class="">United States</a>
                                                </li>
                                                <li class="">
                                                    <a href="details.html#Ukirne" class="">Europe</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" class="">Canada</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="singlemenu topmenu"><a href="#" class=""
                                                title="Volunteer">Volunteer</a>
                                            <ul class="singleMenuWrap">
                                                <li class="">
                                                    <a href="details.html" class="">Legal</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" class="">Non-Legal</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="topmenu"><a href="#" class="singlelink" title="FAQs">FAQs</a>
                                        </li>
                                        <li class="topmenu"><a href="#" class="singlelink" title="Who we are">Who we
                                                are</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="hamburger">
                                <a href="javascript:void(0);" class="mhamburger" title="Mobile hamburger"
                                    id="menu_trigger">
                                    <span><img src="assets/images/hamburger-icon.svg" alt="Hamburger Icon"
                                            class="screen-reader-text"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="nav-wrapper">
                    <nav role="navigation">
                        <div class="nav-toggle">
                            <span class="nav-back"></span>
                            <span class="nav-title">Menu</span>
                            <span class="nav-close"></span>
                        </div>
                        <div class="menu-section">
                            <ul class="topmeu">
                                <li class="singlemenu">
                                    <a href="javascript:void(0);" class="singlemenu-a">I'm looking for
                                        resources in</a>
                                    <ul class="singleMenuWrap">
                                        <li><a href="details.html#Ukirne">Europe</a></li>
                                        <li><a href="#">Canada</a></li>
                                        <li><a href="#">United States</a></li>
                                    </ul>
                                </li>
                                <li class="singlemenu">
                                    <a href="javascript:void(0);" class="singlemenu-a">Volunteer</a>
                                    <ul class="singleMenuWrap">
                                        <li><a href="details.html">Legal</a></li>
                                        <li><a href="#">Non-Legal</a></li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#">FAQs</a>
                                </li>
                                <li class="">
                                    <a href="#">Who we are</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="stickyEmpty">
            </div>


            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
            {{> body}}



            <div class="disclaimerbanner">
                <div class="grid-container">
                    <div class="contentsec text-center">
                        <p>This site is for general information only. It is not intended to provide legal advice and
                            does not
                            establish an attorney client relationship.
                        </p>
                        <a href="details.html#Ukirne">Learn more about how to use this site.</a>
                    </div>
                </div>
            </div>


            <footer class="sixCols">
                <div class="grid-container">
                    <div class="footerBlock">
                        <a href="/" class="fLogo">
                            <img src="assets/images/footer-logo.svg" alt="Ukraine Immigration Task Force" width="166"
                                height="83" class="ls-is-cached lazyloaded">
                        </a>
                        <div class="fnav">
                            <div class="column-equal">
                                <h2>Resources</h2>
                                <ul>
                                    <li>
                                        <a href="#">United States</a>
                                    </li>
                                    <li>
                                        <a href="#">Europe</a>
                                    </li>
                                    <li>
                                        <a href="#">Canada</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-equal">
                                <h2>Volunteer</h2>
                                <ul>

                                    <li>
                                        <a href="#">Legal</a>
                                    </li>
                                    <li>
                                        <a href="#">Non-Legal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-equal">
                                <h2><a href="#">About</a></h2>

                            </div>
                            <div class="column-equal">
                                <h2><a href="#">FAQ</a></h2>
                            </div>
                            <div class="column-equal">
                                <h2><a href="#">Events</a></h2>
                            </div>
                            <div class="column-5">
                                <h2>Contact</h2>
                                <ul>
                                    <li>
                                        <a href="mailto:msmith@uitf.com">msmith@uitf.com</a>
                                    </li>
                                    <li>
                                        <a href="mailto:bdavid@uitf.com">bdavid@uitf.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fcopyBlock">
                    <div class="grid-container">
                        <div class="copyWrapper">
                            <div class="row">
                                <div class="columns medium-6 large-6">
                                    <p class="cpy">
                                        Copyright 2022 Ukraine Immigration Task Force
                                    </p>
                                </div>
                                <div class="columns medium-6 large-6 text-right">
                                    <p class="cpy site-designed">
                                        Site designed <br> and developed by <br>
                                        <a class="speedBumpLink" href="https://www.multimediasolutions.com/"
                                            target="_blank" rel="noopener noreferrer">Multimedia Solutions</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>


        </div>
    </div>
</body>


<a href="javascript:void(0)" class="backtoTop" title="Back to top">

    <span> </span>
</a>

<script src="{{root}}assets/plugins/js/jquery.min.js"></script>
<script src="{{root}}assets/plugins/js/jquery-ui.min.js"></script>
<script src="{{root}}assets/plugins/js/lazysizes.min.js"></script>
<script src="{{root}}assets/plugins/js/custom.js"></script>


</body>

</html>