node_modules/
.sass-cache/
Sass/main.css
Sass/main.css.map
Thamizh/**/package.json
Thamizh/**/gulpfile.babel.js
Thamizh/**/readme.md
Thamizh/**/CHANGELOG.md
Thamizh/**/.browserslistrc
Thamizh/**/.bowerrc
Thamizh/**/.babelrc
