{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Next Level of Service | UHY</title>
    <meta name="title" content="The Next Level of Service | UHY" />
    <meta name="description"
        content="The right CPA firm makes all the difference. Find out more about our “Next Level of Service” philosophy." />
    <link rel="shortcut icon" type="image/x-icon" href="{{root}}assets/images/settings/uhy_fav.ico">         
    <link rel="stylesheet" href="https://use.typekit.net/xlk1tob.css">
    <link rel="stylesheet" href="{{root}}assets/css/global/jquery-ui.min.css">
    <link rel="stylesheet" href="{{root}}assets/css/global/style.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/global/swiper.min.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div id="skiptocontent"><a href="#maincontent" alt="skip to main content">skip to main content</a></div>
    <div class="loaderBlock">
        <div class="svgAnimation">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50" />
            </svg>
        </div>
        <div class="loaderWrap">
            <img src="{{root}}assets/images/settings/logo.svg" alt="UHY US" width="256" 
               />
        </div>
    </div>
    <div class="sitewrap">
        <!-- <div class="alertsection module">
            <div class="alertsPannel" data-alert-id="0">
                <div class="grid-container">
                  <div class="alertsWrap">
                    <div class="wrap">
                      <img src="{{root}}assets/images/alert-icon.svg" alt="alert-icon"/>
                      <p>
                        UHY will be closed Monday, January 1, 2024 for New Year's Day.
                      </p>
                      <a href="javascript:void(0)" class="close-alerts alertsPannelClose">
                          <i></i>
                          <span class="screen-reader-text">
                            Close
                          </span>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="alertsPannel" data-alert-id="1">
                <div class="grid-container">
                  <div class="alertsWrap">
                    <div class="wrap">
                      <img src="{{root}}assets/images/alert-icon.svg" alt="alert-icon"/>
                      <p>
                        UHY will be closed Monday, January 1, 2024 for New Year's Day.
                      </p>
                      <a href="javascript:void(0)" class="close-alerts alertsPannelClose">
                          <i></i>
                          <span class="screen-reader-text">
                            Close
                          </span>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="alertsPannel" data-alert-id="2">
                <div class="grid-container">
                  <div class="alertsWrap">
                    <div class="wrap">
                      <img src="{{root}}assets/images/alert-icon.svg" alt="alert-icon"/>
                      <p>
                        UHY will be closed Monday, January 1, 2024 for New Year's Day.
                      </p>
                      <a href="javascript:void(0)" class="close-alerts alertsPannelClose">
                          <i></i>
                          <span class="screen-reader-text">
                            Close
                          </span>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
        </div> -->
        <header class="sticky module">
            <div class="alertsection">
            <!-- <div class="alertsPannel" data-alert-id="0">
                <div class="grid-container">
                  <div class="alertsWrap">
                    <div class="wrap">
                      <img src="{{root}}assets/images/alert-icon.svg" alt="alert-icon"/>
                      <p>
                        UHY will be closed Monday, January 1, 2024 for New Year's Day.
                      </p>
                      <a href="javascript:void(0)" class="close-alerts alertsPannelClose">
                          <i></i>
                          <span class="screen-reader-text">
                            Close
                          </span>
                        </a>
                    </div>
                  </div>
                </div>
            </div> -->
            <div class="alertsPannel" data-alert-id="0">
                <div class="grid-container">
                  <div class="alertsWrap">
                    <div class="wrap">
                      <img src="{{root}}assets/images/alert-icon.svg" alt="alert-icon"/>
                      <p>
                        UHY will be closed Monday, January 1, 2024 for New Year's Day.
                      </p>
                      <a href="javascript:void(0)" class="close-alerts alertsPannelClose">
                          <i></i>
                          <span class="screen-reader-text">
                            Close
                          </span>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="grid-container">
                <div class="logo">
                    <a href="index.html">
                        <img src="{{root}}assets/images/settings/logo.svg" alt="UHY US" width="303" height="72" />
                    </a>
                </div>
                <div class="headerMainWrapper toprightcta">
                    <div class="secondary-nav">
                        <ul class="mainmenu">
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Industries</a></li>
                          <li><a href="#">Locations</a></li>
                          <li><a href="#">Professionals</a></li> 
                          <li><a href="#">Contact Us</a></li>
                          <li><a href="#">Client Portal</a></li> 
                          <li class="menusearchBlock">
                            <button type="button" name="searchbutton" class="submit">
                                <i>Search</i>
                            </button>
                            <div class="desktopSearch">
                                <div class="containerWrapper">
                                    <div class="wraps">
                                        <form class="" action="/search" method="GET">
                                            <label for="inputSearch" class="screen-reader-text">search</label>
                                            <input type="text" class="txtBox" name="q" id="inputSearch" value="" placeholder="Search...">
                                            <i>search</i>
                                        </form>
                                    </div>
                                    <div class="rserachLst" style="display: none;">
                                        <p class="match">Search results matching: John</p>
                                        <ul>
                                            <li><a href="#">John Ferro</a></li>
                                            <li><a href="#">John Hipperson</a></li>
                                            <li><a href="#">John Kincaid</a></li>
                                            <li><a href="#">John Salemi</a></li>
                                            <li><a href="#">National Valuation practice welcomes new managing
                                                director John Ferro... <span>In Insights</span></a></li>
                                        </ul>
                                        <div class="bottomBtn">
                                            <div class="allresult">See All Results</div>
                                            <a href="#" class="goIcon"><i>Search</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </li>
                          <li class="menuhamburger">
                            <a class="dkhamburger" href="javascript:void(0)" title="Main Menu" aria-label="Main Menu">
                                <span></span>
                            </a>
                          </li>
                        </ul>
                    </div>
                    <div class="headerWrapper">
                        <div class="hamburger">
                            <a href="#" class="mhamburger" title="Mobile hamburger">
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-wrap">
                <div class="containerWrapper">
                    <div class="primarysubmenu">
                        <ul>
                            <li class="link-title">
                                <a href="javascript:void(0)" class="links msubMenu">
                                    About Us
                                </a>
                                <ul class="inner" style="display: none;">
                                    <li>
                                        <a href="#">About UHY</a>
                                    </li>
                                    <li>
                                        <a href="#">Diversity, Equity & Inclusion</a>
                                    </li>
                                    <li>
                                        <a href="#">UHY Cares</a>
                                    </li>
                                    <li>
                                        <a href="#">Leadership</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Join Our Team
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Newsroom
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Insights
                                </a>
                            </li>
                        </ul>
                        <div class="socialLnkpanel">
                            <ul class="sociallinks">
                                <li>
                                    <a href="#" target="_blank" aria-label="Linkedin">
                                            <img src="{{root}}assets/images/settings/linkedin-in.svg" alt="Icon Brands Linkedin" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="X">
                                            <img src="{{root}}assets/images/settings/x.svg" alt="Icon Brands X" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="Instagram">
                                        <img src="{{root}}assets/images/settings/instagram.svg" alt="Icon Brands Instagram" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="Facebook">
                                        <img src="{{root}}assets/images/settings/facebook.svg" alt="Icon Brands Facebook" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="nav-wrapper">
                <nav role="navigation">
                    <div class="primarysubmenu">
                        <ul class="searchBoxMobile">
                            <li class="menusearchBlock">
                                <div class="desktopSearch">
                                    <div class="containerWrapper">
                                        <div class="wraps">
                                            <form class="" action="/search" method="GET">
                                                <label for="inputSearchMobile" class="screen-reader-text">search</label>
                                                <input type="text" class="txtBox" name="q" id="inputSearchMobile" value="" placeholder="Search...">
                                                <i class="searchIcon">search</i>
                                                <i class="closeIcon">search</i>
                                            </form>
                                        </div>
                                        <div class="rserachLst" style="display: none;">
                                            <div class="contentSearch">
                                                <p class="match">Search results matching: John</p>
                                                <ul>
                                                    <li><a href="#">John Ferro</a></li>
                                                    <li><a href="#">John Hipperson</a></li>
                                                    <li><a href="#">John Kincaid</a></li>
                                                    <li><a href="#">John Salemi</a></li>
                                                    <li><a href="#">National Valuation practice welcomes new managing
                                                        director John Ferro... <span>In Insights</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="bottomBtn">
                                                <div class="allresult">See All Results</div>
                                                <a href="#" class="goIcon"><i>Search</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </li>
                        </ul>
                        <ul class="topmenu">
                            <li class="link-title">
                                <a href="#" class="links">
                                    Services
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Industries
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Locations
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Professionals
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Contact Us
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Client Portal
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="javascript:void(0)" class="links msubMenu">
                                    About Us
                                </a>
                                <ul class="inner" style="display: none;">
                                    <li>
                                        <a href="#">About UHY</a>
                                    </li>
                                    <li>
                                        <a href="#">Diversity, Equity & Inclusion</a>
                                    </li>
                                    <li>
                                        <a href="#">UHY Cares</a>
                                    </li>
                                    <li>
                                        <a href="#">Leadership</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Join Our Team
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Newsroom
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">
                                    Insights
                                </a>
                            </li>
                        </ul>
                        <div class="socialLnkpanel">
                            <ul class="sociallinks">
                                <li>
                                    <a href="#" target="_blank" aria-label="Linkedin">
                                            <img src="{{root}}assets/images/settings/linkedin-in.svg" alt="Icon Brands Linkedin" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="X">
                                            <img src="{{root}}assets/images/settings/x.svg" alt="Icon Brands X" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="Instagram">
                                        <img src="{{root}}assets/images/settings/instagram.svg" alt="Icon Brands Instagram" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="Facebook">
                                        <img src="{{root}}assets/images/settings/facebook.svg" alt="Icon Brands Facebook" class="lazy imagetoSVG" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="stickyEmpty">
        </div>
        <div class="main" id="maincontent">
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{>
        body}}
        </div>
        <link rel="stylesheet" href="{{root}}assets/css/findlocation/findlocation.css" media="all">
        <div class="findlocationPannel module">
            <div class="grid-container">
                <div class="wraps">
                    <h3>Join Our Mailing List</h3>
                    <a href="#" class="ctabtn secondarybtn">Sign Up Now</a> 
                </div>
            </div>
        </div>
        <footer class="threerow module ">
            <div class="foot-custom">
                <div class="grid-container">

                    <div class="footer-logo">
                        <a href="#"><img src="{{root}}assets/images/settings/logo.svg" alt="UHY" /></a>
                    </div>
                    <div class="footersec">
                        <div class="primaryfooter">
                            <div class="column-1">
                                <div class="foot-content">
                                    <p>We get to know you and take a focused approach to serving your business, totally
                                        dedicated on your specific needs. We give you specialized, individualized
                                        attention and provide solutions that empower you to succeed.
                                    </p>
                                    <p>All the while delivering </p>
                                    <p><b>“The Next Level of Service”.</b></p>
                                </div>
                            </div>
                            <div class="column-2">
                                <p class="menutitle">Our Company</p>
                                <ul>
                                    <li><a href="#">About UHY</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Newsroom</a></li>
                                    <li><a href="#">Locations</a></li>
                                    <li><a href="#">Professionals</a></li>
                                    <li><a href="#">Client Portal</a></li>
                                </ul>
                            </div>
                            <div class="column-3">
                                <p class="menutitle">Support & Services</p>
                                <ul>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Industries</a></li>
                                    <li><a href="#">Insights </a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">UHY International </a></li>
                                    <li><a href="#">中文</a></li>
                                </ul>
                            </div>
                            <div class="column-4">
                                <div class="socialLnkpanel">
                                    <ul class="sociallinks">
                                        <li>
                                            <a href="#" aria-label="linkedin" target="_blank">
                                                <img src="{{root}}assets/images/settings/linkedin-in.svg" alt="linkedin"
                                                    class="lazy imagetoSVG" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" aria-label="linkedin" target="_blank">
                                                <img src="{{root}}assets/images/settings/x.svg" alt="linkedin"
                                                    class="lazy imagetoSVG" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" aria-label="instagram" target="_blank">
                                                <img src="{{root}}assets/images/settings/instagram.svg" alt="instagram"
                                                    class="lazy imagetoSVG" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" aria-label="Facebook" target="_blank">
                                                <img src="{{root}}assets/images/settings/facebook.svg" alt="Facebook"
                                                    class="lazy imagetoSVG" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondaryfooter primaryColor">
                <div class="grid-container">
                    <div class="column-custom">
                        <ul class="footerlinks copyright">
                            <li>© <span id="copyright-year"></span> UHY LLP. ALL RIGHTS RESERVED</li>
                        </ul>
                        <ul class="col-2nd">
                            <li><a href="#">Show Firm Disclaimer</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                        <ul class="col-3rd">
                            <li><a href="https://www.multimediasolutions.com/" target="_blank" rel="noopener">Site
                                    Designed and Developed by Multimedia Solutions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>


<div class="paginacontainer">
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 118.041;"></path>
        </svg>
    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".lazy").Lazy({
                afterLoad: function (element) {
                    $("img").removeClass("layzeloading");
                }
            });
        });
</script>

<script src="{{root}}assets/scripts/global/nprogress.js" defer></script>
<script src="{{root}}assets/scripts/global/jquery-ui.min.js" defer></script>
<script src="{{root}}assets/scripts/global/imagetoSVG.js" defer ></script>
<script src="{{root}}assets/scripts/global/swiper.min.js" defer ></script>
<script src="{{root}}assets/scripts/global/custom.js" defer></script>
<script type="text/javascript">
    $(document).ready(function () {  
        $('#copyright-year').text(new Date().getFullYear());
        $('#copyright-year-notfound').text(new Date().getFullYear());
        setTimeout(function () {
            if ($('.popUpWrapper').length > 0) {
            $('html').addClass('popUpOpen');
              setTimeout(function () {
                    $('.popupWrap .wrap,.popUpWrapper').addClass('Open');
              }, 100);
            }
        }, 1000);  
        $('.popUpWrapper .popup-close').click(function () {
            $('html').removeClass('popUpOpen');
            $('.popupWrap .wrap,.popUpWrapper').removeClass('Open');			
        });                  
    });
</script>
</body>
</html>