{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul, Weiss</title>
    <meta name="title" content="Paul, Weiss" />
    <meta name="description"
        content="The right CPA firm makes all the difference. Find out more about our “Next Level of Service” philosophy." />
    <link rel="shortcut icon" type="image/x-icon" href="{{root}}assets/images/settings/favicon.ico">
    <link rel="stylesheet" href="{{root}}assets/css/global/font.css">
    <link rel="stylesheet" href="{{root}}assets/css/global/jquery-ui.min.css">
    <link rel="stylesheet" href="{{root}}assets/css/global/swiper.min.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/global/jquery-te-1.4.0.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/global/style.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/subbanner/subbanner.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/alumnidescription/alumnidescription.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/alumniTitleDescription/alumniTitleDescription.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/lawyerspanel/lawyerspanel.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/alumnijobopportunities/alumnijobopportunities.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/alumniupdateprofile/alumniupdateprofile.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/faq/faq.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/noteList/noteList.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/volunteer/volunteer.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/eventslider/eventslider.css" media="all">
    <link rel="stylesheet" href="{{root}}assets/css/socialpanel/socialpanel.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <div id="skiptocontent"><a href="#maincontent" alt="skip to main content">skip to main content</a></div>
    <!-- <div class="loaderBlock">
        <div class="svgAnimation">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50" />
            </svg>
        </div>
        <div class="loaderWrap">
            <img src="{{root}}assets/images/settings/pw_logo.svg" alt="Paul Weiss Bank" width="256" />
        </div>
    </div> -->
    <div class="sitewrap">
        <header class="sticky module alumniheader">
            <!-- <div class="alertsPannel">
            <div class="grid-container-full">
                <div class="alertsWrap">
                <div class="wrap">
                    <p>Lorem ipsum dolor sit amet consectetur. In quam consequat hendrerit accumsan gravida consequat consectetur leo. Adipiscing in suscipit molestie ullamcorper sed posuere turpis nulla. Hac enim imperdiet a ut vitae nec faucibus. Aenean ultrices ullamcorper id facilisis ac duis elementum. Velit dolor elit risus id augue porttitor scelerisque dui. Sollicitudin lobortis aenean consequat pharetra. Elit at tincidunt nunc eu.</p>
                    <a href="javascript:void(0)" class="close-alerts alertsPannelClose">
                        <i></i>
                        <span class="screen-reader-text">
                        Close
                        </span>
                    </a>
                </div>
                </div>
            </div>
        </div> -->
            <div class="grid-container">
                <div class="alumniheaderwrap">
                    <div class="leftmove">
                        <div class="logo">
                            <a href="index.html">
                                <picture>
                                    <source media="(min-width:320px) and (max-width:849px)"
                                        srcset="{{root}}assets/images/settings/mobile_logo.svg" type="image/jpg">
                                    <img src="{{root}}assets/images/settings/Alumnilogo.svg" alt="Paul Weiss "
                                        width="314" height="75" />
                                </picture>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="headertext">
                        <p>Alumni</p>
                    </div> -->
                    <div class="headerMainWrapper toprightcta">
                        <div class="secondary-nav">
                            <ul class="mainmenu">
                                <li><a href="#" contenteditable="false" style="cursor: pointer;">
                                        <img src="{{root}}assets/images/settings/headeer-linkedin.svg" width="30"
                                            height="30" alt="linkedin" class="imagetoSVG" />
                                    </a></li>
                                <li><a href="#" contenteditable="false" style="cursor: pointer;">Contact Us</a></li>
                                <li><a href="#" contenteditable="false" style="cursor: pointer;">Sign Out</a></li>
                            </ul>
                        </div>
                        <div class="headerWrapper">
                            <div class="header-menu">
                                <ul class="mainMenu">
                                    <li class="singleMenu dropdownMenu">
                                        <a class="first-level-link" href="javascript:void(0);">
                                            Directory
                                        </a>

                                        <div class="dropMenuWrap">
                                            <ul>
                                                <li><a href="#">Alumni Directory </a></li>
                                                <li><a href="#">Update Profile </a></li> 
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="singleMenu dropdownMenu">
                                        <a class="first-level-link" href="javascript:void(0);">Careers</a>
                                        <div class="dropMenuWrap">
                                            <ul>
                                                <li><a href="#">Job Opportunities </a></li>
                                                <li><a href="#">Submit a Job </a></li> 
                                                <li><a href="#">Career Coaching </a></li> 
                                                <li><a href="#">FAQs </a></li> 
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="singleMenu dropdownMenu">
                                        <a class="first-level-link" href="javascript:void(0);">Resources</a>
                                        
                                        <div class="dropMenuWrap">
                                            <ul>
                                                <li><a href="#">CLE Learning Portal </a></li>
                                                <li><a href="#">Notes </a></li>
                                                <li><a href="#">Volunteering </a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="headerWrapper">
                            <div class="hamburger">
                                <a href="#" class="mhamburger" title="Mobile hamburger">
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav-wrapper">
                <nav role="navigation">
                    <div class="menu-section ">
                        <ul class="topmeu">
                            <li class="link-title ">
                                <a href="javascript:void(0);" class="links msubMenu">Directory
                                </a>
                                 
                                    <ul class="inner" style="display: none;">
                                        <li><a href="#">Home </a></li>
                                        <li><a href="#">Home </a></li>
                                        <li><a href="#">Home </a></li>
                                    </ul> 
                            </li>
                            <li class="link-title" >
                                <a href="#" class="links">Careers
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="javascript:void(0);" class="links msubMenu">Resources
                                </a>
                                <ul class="inner" style="display: none;">
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Home </a></li>
                                </ul> 
                            </li>
                            <li class="link-title">
                                <a href="#" class="links">Contact Us
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links ">Linked In
                                </a>
                            </li>
                            <li class="link-title">
                                <a href="#" class="links ">Sign Out
                                </a>
                            </li> 
                        </ul> 
                    </div>
                </nav>
            </div>
        </header>
        <div class="stickyEmpty">
        </div>
        <div class="main" id="maincontent">
            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
            {{>
            body}}
        </div>
        <footer class="threerow module aluminifooter">
            <div class="secondaryfooter">
                <div class="footer-grid-container">
                    <div class="flexRow">
                        <div class="copyRights">
                            <p>© <span id="copyright-year"></span> PAUL, WEISS, RIFKIND, WHARTON & GARRISON LLP</p>
                        </div>
                        <div class="createrRight">
                            <p><a href="#">Privacy Policy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>


<div class="paginacontainer">
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 118.041;">
            </path>
        </svg>
    </div>
</div>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".lazy").Lazy({
            afterLoad: function (element) {
                $("img").removeClass("layzeloading");
            }
        });
    });

 
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#copyright-year').text(new Date().getFullYear());
        $('#copyright-year-notfound').text(new Date().getFullYear());
        setTimeout(function () {
            if ($('.popUpWrapper').length > 0) {
                $('html').addClass('popUpOpen');
                setTimeout(function () {
                    $('.popupWrap .wrap,.popUpWrapper').addClass('Open');
                }, 100);
            }
        }, 1000);
        $('.popUpWrapper .popup-close').click(function () {
            $('html').removeClass('popUpOpen');
            $('.popupWrap .wrap,.popUpWrapper').removeClass('Open');
        });
    });
</script>
<script src="{{root}}assets/scripts/global/nprogress.js" defer></script>
<script src="{{root}}assets/scripts/global/jquery-ui.min.js" defer></script>
<script src="{{root}}assets/scripts/global/imagetoSVG.js" defer></script>
<script src="{{root}}assets/scripts/global/swiper.min.js" defer></script>
<script src="{{root}}assets/scripts/global/jquery-te-1.4.0.min.js" defer></script>
<script src="{{root}}assets/scripts/global/jquery.validate.min.js" defer></script>
<script src="{{root}}assets/scripts/global/custom.js" defer></script>

</body>

</html>