<header class="relative">
    <div class="container mx-auto">

        <div class="headerwraps">
            <a href="#" class="logo">
                <img src="assets/img/menu_logo.svg" alt="Pro Bono">
                <!-- <img src="images/header/menu_logo.svg" alt="Pro Bono menu_logo" class="menuLogo"> -->
            </a>
            <div class="hamburger">
                <a href="javascript:void(0)">
                    <span class="lines">
                        <span class="screen-reader-text">Hamburger</span>
                    </span>
                </a>
            </div>
        </div>

        <div class="mnavwrapper">
            <div class="wraps">
                <div class="marginwrap">
                    <!-- <div class="seplines">
						<i></i>
						<i></i>
					</div> -->


                    <div class="menulist">

                        <div class="col-sec">
                            <ul>

                                <li>
                                    <a href="#" class="msubmenu">
                                        NonProfits and MicroBusinesses
                                    </a>

                                    <ul class="inner" style="display: none;">
                                        <li>
                                            <a href="#">
                                                Helping Nonprofits and MicroBusinesses Survive a Global Pandemic
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Supporting Frontline Workers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Empowering Youth in Africa Through Sport
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Advancing Racial Equity in the Theater
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Assisting People Who Are Disabled and Experiencing Homelessness
                                            </a>
                                        </li>


                                    </ul>

                                </li>

                                <li>
                                    <a href="#" class="msubmenu">
                                        Housing
                                    </a>
                                    <ul class="inner" style="display: none;">
                                        <li>
                                            <a href="#">
                                                Keeping Tenants Safe During a Pandemic
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Helping Families Stay
                                                in Their Homes
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Fighting for Safe, Affordable,
                                                Stable Housing
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Creating Affordable Housing
                                            </a>
                                        </li>

                                    </ul>
                                </li>


                                <li>
                                    <a href="#" class="msubmenu">
                                        Civil Rights and Liberties
                                    </a>
                                    <ul class="inner" style="display: none;">
                                        <li>
                                            <a href="#">
                                                Securing the Right to Vote
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Protecting Civil Liberties During National Protests</a>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#" class="msubmenu">
                                        Immigration
                                    </a>
                                    <ul class="inner" style="display: none;">
                                        <li>
                                            <a href="#">
                                                Defending Special Immigrant
                                                Juvenile Status
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sec">
                            <ul>

                                <li>
                                    <a href="#" class="msubmenu">
                                        Children and
                                        Education
                                    </a>
                                    <ul class="inner" style="display: none;">
                                        <li>
                                            <a href="#">
                                                Creating Robust Learning Experiences During the Pandemic
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Helping Summer Programs Operate Remotely
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#" class="msubmenu">
                                        Access To Justice
                                    </a>
                                    <ul class="inner" style="display: none;">
                                        <li>
                                            <a href="#">
                                                Access to Justice
                                                By the Numbers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Life Planning for Workers on the
                                                Front Lines of the Pandemic
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Expanding Our Assistance
                                                with Life Planning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Eliminating Barriers for Transgender
                                                People Seeking a Legal Name Change
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        2020 Awards
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-sec">
                            <ul>
                                <li>
                                    <a href="#">
                                        Acknowledgments
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Pro Bono Committee
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        lowenstein Center for the Public Interest
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Previous Pro Bono Reports
                                    </a>
                                </li>
                                <li>
                                    <div class="downloads">
                                        <div class="callUs">
                                            <a href="#" target="_blank">
                                                <span class="imgBlock"></span>
                                                <span>
                                                    If You Need <br>a Lawyer
                                                </span>
                                            </a>
                                        </div>
                                        <div class="download" id="downloadFocus">
                                            <a href="#" target=" _blank " title="Download ProBono 2020 Report "
                                                alt="2020 ProBono Report">
                                                <span class="imgBlock "></span>
                                                <span>
                                                    Download PDF<br> of this report
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
</header>