 <footer class="w-full mx-auto">
    <div class="whitepanel bg-[#FFFFFF] pt-[86px] pb-[32px]">
         <div class="container mx-auto">
             <ul class="lg:flex md:block justify-between">
             <li class="relative flex uppercase font-froboto text-[19px] leading-[19px] text-center justify-center items-center home-icon">
                <a href="#"><figure><img src="/assets/img/footer-home.svg" alt="Back to Home"></figure></a>
             </li>
             <li class="relative flex uppercase font-froboto text-[19px] leading-[19px] justify-center items-center text-center">
                 <a href="#" class="hover:text-[#eb0028]"> lowenstein Center <br class="md:hidden mob:hidden"> for the Public Interest </a>
             </li>
             <li class="relative flex uppercase font-froboto text-[19px] leading-[19px] justify-center items-center text-center">
                <a href="#" class="hover:text-[#eb0028]"> Download PDF <br class="md:hidden mob:hidden"> of this report</a>
             </li>
             <li class="relative flex uppercase font-froboto text-[19px] leading-[19px] justify-center items-center text-center">
                <a href="#" class="hover:text-[#eb0028]"> Previous Pro <br class="md:hidden mob:hidden"> Bono Reports</a>
             </li>
             <li class="relative flex uppercase font-froboto text-[19px] leading-[19px] justify-center items-center text-center">
                <a href="#" class="hover:text-[#eb0028]"> If You Need <br class="md:hidden mob:hidden"> a Lawyer</a>
             </li>
         </ul>
         </div>
     </div>
     <div class="searvicespanel border-b border-white">
        <ul class="lg:flex md:block justify-evenly bg-white pt-[1.5px]">
            <li class="bg-[#232E3D] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center cursor-pointer">
                <a href="#" class="text-white z-10">Nonprofits and
                <br class="md:hidden mob:hidden lg:block">
                MicroBusinesses
                </a>
            </li>
            <li class="bg-[#060403] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center text-center cursor-pointer  hover:bg-[#232e3d66]">
                <a href="#" class="text-white z-10">Housing
                </a>
            </li>
            <li class="bg-[#494A47] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center text-center cursor-pointer">
                <a href="#" class="text-white z-10"> Civil Rights and <br class="md:hidden mob:hidden lg:block"> Liberties
                </a>
            </li>
            <li class="bg-[#656C71] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center text-center cursor-pointer]">
                <a href="#" class="text-white z-10">Immigration
                </a>
            </li>
            <li class="bg-[#232E3D] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center text-center cursor-pointer">
                <a href="#" class="text-white z-10">Children and <br class="md:hidden mob:hidden lg:block"> Education
                </a>
            </li>
            <li class="bg-[#1A1919] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center text-center cursor-pointer">
                <a href="#" class="text-white z-10"> Access To Justice
                </a>
            </li>
            <li class="bg-[#76202D] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 mr-[1px] flex items-center justify-center text-center cursor-pointer">
                <a href="#" class="text-white z-10">2020 Awards
                </a>
            </li>
            <li class="bg-[#BB717D] w-full font-fheaing mob:text-[24px] md:text-[24px] lg:text-[20px] lg:leading-[23px] xl:text-[26px] md:py-1 lg:py-6 xl:leading-6 flex items-center justify-center text-center cursor-pointer">
                <a href="#" class="text-white z-10">Acknowledgments
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom bg-[#4D4D4D] pt-[63px] pb-[55px]">
    <div class="container mx-auto">
        <div class="fLogo">
            <figure class="w-[194px] mb-[41px]">
                <a href="#"><img src="assets/img/footer-logo.svg" alt="Lowenstein Sandler"></a>
            </figure>
            <p class="flex text-white text-[19px] pt-[7px] font-medium font-froboto">
                 &copy; 2021 &nbsp; <a href="#" target="_blank" class="hover:underline">Lowenstein Sandler LLP</a> <br/>  <span class="pl-[20px]"><a href="#" target="_blank" class="hover:underline">Terms of Use</a>  |  <a href="#" target="_blank" class="hover:underline">Privacy Policy</a></span> 
            </p>
        </div>
    </div>
</div>
 </footer>
 
 