<header class="relative">
	<div class="container mx-auto">
		<div class="table w-full pt-[30px] pb-[17px]">
			<a href="#" class="logo block float-left max-w-[319px] min-w-[319px]">
				<img src="assets/img/menu_logo.svg" class="w-full" alt="Pro Bono">
			</a>
			<div class="hamburger float-right mt-[29px]">
				<a href="javascript:void(0)">
					<span class="lines">
						<span class="screen-reader-text">Hamburger</span>
					</span>
				</a>
			</div>
		</div>
		<div class="mnavwrapper">
			<div class="container mx-auto">
				<div class="grid grid-cols-3 gap-4">
					<div class="border-r-[1px] xl:mr-[20px] lg:mr-[10px] border-black">
						<ul>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="msubmenu hover:text-[#eb0028]">
									NonProfits and MicroBusinesses
								</a>

								<ul class="inner w-full mt-[13px] mb-[13px]" style="display: none;">
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Helping Nonprofits and MicroBusinesses Survive a Global Pandemic
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Supporting Frontline Workers
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Empowering Youth in Africa Through Sport
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Advancing Racial Equity in the Theater
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Assisting People Who Are Disabled and Experiencing Homelessness
										</a>
									</li>
								</ul>

							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="msubmenu hover:text-[#eb0028]">
									Housing
								</a>

								<ul class="inner w-full mt-[13px] mb-[13px]" style="display: none;">
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Keeping Tenants Safe During a Pandemic
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Helping Families Stay in Their Homes
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Fighting for Safe, Affordable, Stable Housing
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Creating Affordable Housing
										</a>
									</li>
								</ul>

							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="msubmenu hover:text-[#eb0028]">
									Civil Rights and Liberties
								</a>

								<ul class="inner w-full mt-[13px] mb-[13px]" style="display: none;">
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Securing the Right to Vote
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Protecting Civil Liberties During National Protests
										</a>
									</li>
								</ul>

							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="msubmenu hover:text-[#eb0028]">
									Immigration
								</a>

								<ul class="inner w-full mt-[13px] mb-[13px]" style="display: none;">
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Defending Special Immigrant Juvenile Status
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="border-r-[1px] xl:mr-[20px] lg:mr-[10px] border-black">
						<ul>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="msubmenu hover:text-[#eb0028]">
									Children and Education
								</a>

								<ul class="inner w-full mt-[13px] mb-[13px]" style="display: none;">
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Creating Robust Learning Experiences During the Pandemic
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Helping Summer Programs Operate Remotely
										</a>
									</li>
								</ul>

							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="msubmenu hover:text-[#eb0028]">
									Access To Justice
								</a>

								<ul class="inner w-full mt-[13px] mb-[13px]" style="display: none;">
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Access to Justice By the Numbers
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Life Planning for Workers on the Front Lines of the Pandemic
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Expanding Our Assistance with Life Planning
										</a>
									</li>
									<li class="text-[16px] leading-[20px] mb-[9px] font-normal font-fprobono">
										<a href="#" class="text-[#202020] hover:text-[#eb0028]">
											Eliminating Barriers for Transgender People Seeking a Legal Name Change
										</a>
									</li>
								</ul>
							</li>
							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="hover:text-[#eb0028]">
									2020 Awards
								</a>
							</li>
						</ul>
					</div>
					<div class="border-r-[0px]">
						<ul>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="hover:text-[#eb0028]">
									Acknowledgments
								</a>
							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="hover:text-[#eb0028]">
									Pro Bono Committee
								</a>

							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="hover:text-[#eb0028]">
									lowenstein Center for the Public <br class="md:hidden xl:block"> Interest
								</a>
							</li>

							<li class="text-[22px] mb-[34px] leading-[27px] font-bold uppercase font-fprobono">
								<a href="#" class="hover:text-[#eb0028]">
									Previous Pro Bono Reports
								</a>
							</li>
							<li class="relative">
								<div class="downloads md:mt-[200px] mob:mt-[30px]">
									<a href="#">
										<div class="flex items-center mb-[15px]">
										<img class="md:w-[40px] md:h-[40px] mob:w-[25px] mob:h-[26px] mr-4" src="http://www.lowensteinprobonoreport.com/2020/images/header/icon_phone.png">
										<div class="text-lg">
										  <p class="font-fprobono mob:text-[16px] mob:leading-[17px] lg:text-[22px] lg:leading-[27px] font-bold uppercase text-[#eb0028]">If You Need <br>a Lawyer</p>
										</div>
									  </div>
									</a>
									<a href="#">
									  <div class="flex items-center mb-[15px]">
										<img class="md:w-[25px] md:h-[40px] mob:w-[25px] mob:h-[30px] md:mr-7 mob:mr-4" src="http://www.lowensteinprobonoreport.com/2020/images/header/icon_download.png">
										<div class="text-lg">
										  <p class="font-fprobono mob:text-[16px] mob:leading-[17px] lg:text-[22px] lg:leading-[27px] font-bold uppercase hover:text-[#eb0028]">Download PDF<br> of this report</p>
										</div>
									  </div>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>