@import "util/util";

$white: var(--fcb-white);
$primary-color: var(--fcb-primary);
$secondary-color: var (--fcb-whitef7);
$img: "../../images/";

$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    llarge: 1280px,
    xlarge: 1360px,
    xxlarge: 1440px,
);
.topanel{
    padding-bottom: 12px;
    padding-top: 28px;
    @include breakpoint(medium){
        background: $white;
        padding-bottom: 12px;
        padding-top: 20px;
    }
    @include breakpoint(large){
        padding-top: 0;
    }
    .breadcrumbWrapBottom {
        padding-top: 36px;
        padding-bottom: 40px;
        position: relative;
        z-index: 9;
    }
    .viewcta{
        padding-bottom: 0;
       .textCta{
        display: inline-block;
        text-decoration: none;
        @include breakpoint(small only){
            margin-left: 5px;
        }
        &::before{
            content: "";
            display: inline-block;
            height: clamp(18px, 18px + 2*(100vw - 375px) / 1065, 20px);
            vertical-align: middle;
            width: clamp(18px, 18px + 2*(100vw - 375px) / 1065, 20px);
            position: relative;
            top: -2px;
            transform: rotate(180deg);
            color: #fff;
            background: url(/assets/images/settings/view-all-icon.svg) no-repeat;
            background-size: 100%;
            filter: sepia(1);
            @include breakpoint(small only){
                left: -4px;
            }
        }
            &::after{
               display: none;
            }
       }
    }
}

.teambiopanel{
    position: relative;
    margin-top:34px;
    @include breakpoint(medium){
        background: $white;
        margin-top: 0;
    }
    &::before{
       display: none;
        @include breakpoint(medium){
            content: '';
            width: 100%;
            height: 100%;
            background: #F6F8FA;
            top: 5%;
            position: absolute;
            display: block;
        }
    }
    .flexwrap {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 9;
        @include breakpoint(medium){
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &::before{
            content: '';
            width: 120%;
            height: 100%;
            background: linear-gradient(270deg, #F6F8FA 10.58%, #D1D1D1 100%);
            top: 20px;
            position: absolute;
            z-index: -1;
            left: -20px;
            @include breakpoint(medium){
                width: 100%;
                height: calc(100% - 18%);
                top: 8.5%;
                left: 0;
            }
        }
    }
    .imgwrap {
        width: 100%;
        max-width: 269px;
        @include breakpoint(medium){
             max-width: calc(clamp(20.313rem, 14.881vw + 13.17rem, 26.563rem));
        }
        .image-block{
            img{
                border-radius: 15px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .cntwrap {
        position: relative;
        width: 100%;
        @include breakpoint(medium){
            width:100%;
            max-width: calc(100% - 325px);
            margin-left: 30px;
            margin-top: 22px;
            text-align: left;
        }
         @include breakpoint(large){
            max-width: calc(100% - 425px);
            margin-left: 40px;
         }
        .biocontent{
            margin-top: 32px;
            @include breakpoint(medium){
                margin-top: 30px;
            }
            @include breakpoint(large){
                margin-top: calc(clamp(2.5rem, 3.846vw + 0.038rem, 3.5rem));
            }
            h1{
                font-size: calc(clamp(1.25rem, 2.629vw + 0.634rem, 3rem));
                line-height:100%;
                color: $primary-color;
                font-weight: 700;
                margin-bottom: 20px;
                @include breakpoint(medium){
                    margin-bottom: 10px;
                }
                @include breakpoint(large){
                    margin-bottom: 20px;
                }
            }
            .hidecontent{
                display: none;
            }
            .position{
                font-size: calc(clamp(0.875rem, 0.939vw + 0.655rem, 1.5rem));
                font-weight: 500;
                margin-bottom: 1rem;
                @include breakpoint(small only){
                    max-width: 335px;
                }
                @include breakpoint(large){
                    font-weight: 600;
                }
                br{
                    display: none;
                    @include breakpoint(large){
                        display: block;
                    }
                }
                span{
                    display: inline-block;
                    @include breakpoint(large){
                        display: none;
                    }
                }
            }
              p{
                font-size:calc(clamp(0.875rem, 0.563vw + 0.743rem, 1.25rem));
                font-weight: 500;
                margin-bottom: 0;
                + p{
                    margin-top: 5px;
                    @include breakpoint(small only){
                        margin-top: 14px;
                    }
                }
              }
              a{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
              .social-share{
                margin-top: 10px;
                margin-bottom: 14px;
                @include breakpoint(medium){
                    margin-bottom: 5px;
                }
                @include breakpoint(large){
                    margin-bottom: 20px;
                }
                svg{
                    width: 30px;
                    height: 30px;
                    &:hover{
                        path{
                            fill: #68101F;
                        }
                    }
                }
            }
            .textCta{
                display: inline-block;
                @include breakpoint(small only){
                    font-size: 16px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .columncontactcontent{
        position: relative;
        z-index: 9;
        .contentwrap{
            margin-top:50px;
            max-width: 1100px;
            width: 100%;
            @include breakpoint(small only){
                margin-top:70px;
            }
            p{
               line-height: 126%;
                @include breakpoint(small only){
                    font-size: 18px;
                    line-height: 122%;
                }
            }
        }
    }
}