@import "util/util";

$white: var(--fcb-white);
$primary-color: var(--fcb-primary);
$secondary-color: var (--fcb-whitef7);
$img: "../../images/";

$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    llarge: 1280px,
    xlarge: 1360px,
    xxlarge: 1440px,
);

.schoolsliderpanel{
    @include breakpoint(small only){
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(medium only){
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .grid-container{
        position: relative;
        .flexBox {
            .swiper-button-prev,
            .swiper-button-next {
                width: 45px;
                height: 45px;
                margin-top: calc(-8px - (var(--swiper-navigation-size) / 2));
                top: var(--swiper-navigation-top-offset, 58%);
                @include breakpoint(large) {
                    width: 63px;
                    height: 63px;
                }
                @include breakpoint(llarge) {
                    width: 80px;
                    height: 80px;
                }

                &:before {
                    content: '';
                    background: #ffffff;
                    box-shadow: -4px 0px 6px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 50%;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                &:after {
                    font-size: 0px;
                }

                &::after {
                    background: url('#{$img}settings/arrow-dropleft-mobile.svg') no-repeat;
                    background-size: contain;
                    width: 32px;
                    height: 32px;
                    @include breakpoint(large) {
                        width: 45px;
                        height: 45px;
                        background: url('#{$img}settings/arrow-dropleft.svg') no-repeat;
                        background-size: contain;
                    }
                    @include breakpoint(llarge) {
                        width: 58px;
                        height: 58px;
                    }
                }
            }

            .swiper-button-next {
                right: var(--swiper-navigation-sides-offset, -4px);
                @include breakpoint(large) {
                    right: var(--swiper-navigation-sides-offset, 22px);
                }
                @include breakpoint(llarge) {
                    right: var(--swiper-navigation-sides-offset, 15px);
                }
                @media (min-width:1481px) {
                    right: var(--swiper-navigation-sides-offset, 0px);
                }

                &:before {
                    content: '';
                    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.10);
                }

                &::after {
                    transform: rotate(180deg);
                }
            }

            .swiper-button-prev {
                left: var(--swiper-navigation-sides-offset, -4px);
                @include breakpoint(large) {
                    left: var(--swiper-navigation-sides-offset, 18px);
                }
                @include breakpoint(llarge) {
                    left: var(--swiper-navigation-sides-offset, 15px);
                }
                @media (min-width:1481px) {
                    left: var(--swiper-navigation-sides-offset, 0px);
                }
            }
        }
        .flexBox-pagination{
                display: none;
                @include breakpoint(large) {
                    top:22px;
                    display: flex ;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
            .swiper-pagination{
                position: static;
                width: initial;
                .swiper-pagination-bullet{
                    width: 13px;
                    height: 13px;
                    background: transparent;
                    border: 1px solid $primary-color;
                    margin: 0 6px;
                    opacity: 1;
                    &:last-child{
                        margin-right: 0;
                    }
                    @include breakpoint(medium) {
                        width: 16px;
                        height: 16px;
                        margin: 0 8px;
                    }
                    &.swiper-pagination-bullet-active{
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
    .schoolswiperpanel{
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 22px;
        padding: 25px 20px 25px 25px;
        @include breakpoint(large){
            max-width: 94.5%;
            border-radius: 30px;
            padding: 30px 40px;
            margin-top: 32px;
        }
        @include breakpoint(llarge){
            padding: 30px 56px;
        }
        .innerWrap{
            max-width: 1250px;
            width: 100%;
            height:100%;
        }
        .schoolSlider {
            .swiper-wrapper{
                .swiper-slide{
                    .swiper-content{
                        text-align: center;
                        a{
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        p{
                            margin-top: 18px;
                            margin-bottom: 0;
                            font-size: 20px;
                            font-weight: 500;
                            @include breakpoint(small only){
                                font-size: 18px;
                                max-width: 210px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                        .imgwrap{
                            overflow: hidden;
                            border-radius: 5px;
                            max-width: 100%;
                            width: 100%;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            height: 181px;
                            @include breakpoint(medium){
                                height: 220px;
                                border-radius: 10px;
                            }
                            @include breakpoint(large){
                                height: calc(clamp(10.625rem, -12.195vw + 18.43rem, 8.75rem));
                                max-width: 230px;
                             }
                            @include breakpoint(llarge){
                               height: calc(clamp(10.625rem, -18.75vw + 25.625rem, 8.75rem));
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @include breakpoint(medium only){
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}