@import "util/util";
$white: #ffffff;
$primary-color: #004986;
$secondary-color: #B58412;
$img: "../../images";
$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1360px,
  xxlarge: 1500px,
);
	
.biovideopanel{
    padding-bottom: 30px;
    @include breakpoint(small only){
        padding-top: 10px;
     }
    .content-title{
        font-size: 30px;
        line-height:46px;
        padding-bottom: 17px;
        color:$primary-color;
        padding-top:40px;
        @include breakpoint(small only){
           text-align: center;
           padding-top:0px;
        }
        @include breakpoint(large){
            font-size: 38px;
            line-height: 56px;
        }
        &:first-child{
            @include breakpoint(large){
                padding-top:0px;
            }
        }
    }
    .innerWrap{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        @include breakpoint(small only){
        justify-content: space-between;
        }
        @include breakpoint(medium only){
            justify-content: space-between;
        }
       .Personalcolblock,.colblock{
            width: 100%;
            max-width: 462px; 
            margin-bottom: 45px;
            @include breakpoint(large){
                margin-right: 1.8%;
            }
            @include breakpoint(small only){
                max-width: 100%;
               
                &:last-child{
                    margin-bottom: 0;
                }
            }
            @include breakpoint(medium only){
                &:nth-child(2n+2){
                    margin-right: 0;
                }
            }
            @include breakpoint(medium){
                max-width:47.2%;
                margin-bottom: 30px;
            }
            @include breakpoint(large){
                max-width: 31.94%;
                margin-bottom: 30px;
             
                &:last-child, &:nth-child(3n+3){
                    margin-right: 0;
                }
            }
            @include breakpoint(xlarge){
                max-width: 32%;
               
                margin-bottom: 45px;
            }
            @include breakpoint(xxlarge){
                max-width: 32.08%;
               
            }
            .embededwrap{
                overflow: hidden;
                max-width: 462px;
                width: 100%;
                margin: 0 auto;
                .video{
                    img{
                        width: 100%;
                        object-fit: cover;
                        max-height: 100%;
                        height: 232px;
                    }
                } 
            }
            .imgWrap{
                overflow: hidden;
                max-width: 462px;
                width: 100%;
                @include breakpoint(small only){
                    margin: 0 auto;
                }
                @include breakpoint(large){
                    max-width: 500px;
                }
                @include breakpoint(xlarge){
                    max-width: 462px;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    max-height: 100%;
                    height: 232px;
                }
                .video{
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                    max-height: 232px;
                    height: 232px;
                    .iframe{
                        height:232px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 80px;
                        height: 80px;
                        background-image: url(#{$img}/icons/videoplayicon.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        transition: all 0.3s;
                        z-index: 9;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color:#464646;
                        opacity:0.52;
                    }
                    &:hover{
                        img{
                            transform: scale(1.2);
                            &::before{
                                transform: scale(0.85);
                            }
                            &::after{
                                opacity: 0;
                            }
                        }
                    }
                }
            }

              
            
            p{
                font-size: 21px;
                line-height: 31px;
                background-color: #E0E8EE;
                font-weight: 700;
                color:$primary-color;
                text-align: center;
                padding: 10px;
                max-width: 462px;
                margin: 0 auto;
                @include breakpoint(large){
                    font-size: 23px;
                    line-height: 31px;
                    padding: 10px;
                }
                @include breakpoint(xlarge){
                    font-size: 28px;
                    line-height: 61px;
                    padding: 8px;
                }
               
            }
        }
    }
    .viewallcta{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        // margin-top: 25px;
        width:100%;
    }
}
.breadcrumbWrapBottom {
    padding-bottom: 25px;
}
