$primary-color: #001F3F;
$secondary-color: #B9C8DA;
@import "util/util";
$img: "../../images/";
$bgpanel-color: #B9C8DA;
$mediumbluebgpanel: #0B3D71;
$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    llarge: 1280px,
    xlarge: 1360px,
    xxlarge: 1440px,
);


.benfittitleDesc {
    margin-top: clamp(40px, calc(40px + (100 - 40) * ((100vw - 393px) / (1023 - 393))), 100px);
    @include breakpoint(large) {
        margin-top: clamp(100px, calc(100px + (150 - 100) * ((100vw - 1024px) / (1728 - 1024))), 150px);
    }

    .grid-container {
        .flex-box {
            border-top: 10px solid $bgpanel-color;
            .flexWrap {
                padding-bottom: 18px;          

                .wraptitle {
                    width: 100%;
                    h2 {
                        text-align: left;
                        margin-top: calc(clamp(0.625rem, 0.375vw + 0.533rem, 0.938rem));
                        line-height: 100%;
                        letter-spacing: -0.04em;
                        font-size: clamp(55px, calc(55px + (64 - 55) * ((100vw - 393px) / (1023 - 393))), 64px);
                        line-height: 100%;

                        @include breakpoint(large) {
                            font-size: clamp(64px, calc(64px + (85 - 64) * ((100vw - 1024px) / (1728 - 1024))), 85px);                           
                        }                      
                    }

                }
            }
        }


        .contentwrap {
            max-width: 1120px;
            width: 100%;

            p {
                font-family: 'UntitledSerif';
                font-style: normal;
                font-weight: 400;
                line-height: 123.6%;
                /* or 26px */
                letter-spacing: -0.01em;
                font-size: clamp(18px, calc(18px + (22 - 18) * ((100vw - 393px) / (1023 - 393))), 22px);
                @include breakpoint(large) {
                    font-size: clamp(22px, calc(22px + (27 - 22) * ((100vw - 1024px) / (1728 - 1024))), 27px);
                }
                +p {
                    margin-top:calc(clamp(1.25rem, 0.824vw + 1.048rem, 1.938rem));
                }
            }

        }

    }

    +.benefits {
        margin-top:calc(clamp(2.25rem, 2.022vw + 1.753rem, 3.938rem));       
    }

}

.benefits {
    margin-top: clamp(40px, calc(40px + (100 - 40) * ((100vw - 393px) / (1023 - 393))), 100px);
    @include breakpoint(large) {
        margin-top: clamp(100px, calc(100px + (150 - 100) * ((100vw - 1024px) / (1728 - 1024))), 150px);
    }
    .grid-container {
        .flex-box {
            border-top: 10px solid $bgpanel-color;
            .flexWrap {
                padding-bottom: 21px;

                @include breakpoint(large) {
                    // display: flex;
                    padding-bottom: 26px;
                }

                @include breakpoint(llarge) {
                    // display: flex;
                    padding-bottom: 18px;
                }

                .wraptitle {
                    width: 100%;
                    h2 {
                        text-align: left;
                        margin-top: clamp(10px, calc(10px + (18 - 10) * ((100vw - 393px) / (1023 - 393))), 10px);
                        line-height: 100%;
                        letter-spacing: -0.04em;

                        font-size: clamp(55px, calc(55px + (64 - 55) * ((100vw - 393px) / (1023 - 393))), 64px);
                        line-height: 100%;

                        @include breakpoint(large) {
                            font-size: clamp(64px, calc(64px + (85 - 64) * ((100vw - 1024px) / (1728 - 1024))), 85px);

                            margin-top: clamp(18px, calc(18px + (18 - 18) * ((100vw - 1024px) / (1279 - 1024))), 18px);
                        }

                        @include breakpoint(llarge) {
                            margin-top: clamp(18px, calc(18px + (15 - 18) * ((100vw - 1280px) / (1728 - 1280))), 15px);
                        }
                    }
                }
            }
        }


        .benefitcontent {
            max-width: 1120px;
            width: 100%;

            h3 {
                font-family: 'ABCDiatype';
                font-style: normal;
                font-weight: 700;
                // font-size: 40px;
                line-height: 100%;
                /* or 58px */
                letter-spacing: -0.025em;
                font-size: clamp(40px, calc(40px + (50 - 40) * ((100vw - 393px) / (1023 - 393))), 50px);
                line-height: 100%;
                @include breakpoint(large) {
                    font-size: clamp(50px, calc(50px + (60 - 50) * ((100vw - 1024px) / (1728 - 1024))), 60px);
                }
                +p {
                    margin-top:calc(clamp(1.25rem, 0.824vw + 1.048rem, 1.938rem));
                }
            }

            p {
                font-family: 'UntitledSerif';
                font-style: normal;
                font-weight: 400;
                // font-size: 18px;
                line-height: 123.6%;
                /* or 26px */
                letter-spacing: -0.01em;
                font-size: clamp(18px, calc(18px + (22 - 18) * ((100vw - 393px) / (1023 - 393))), 22px);
                @include breakpoint(large) {
                    font-size: clamp(22px, calc(22px + (27 - 22) * ((100vw - 1024px) / (1728 - 1024))), 27px);
                }
                +p {
                    margin-top:calc(clamp(1.25rem, 0.824vw + 1.048rem, 1.938rem));
                }

                +h3 {
                    margin-top: calc(clamp(2.25rem, 2.022vw + 1.753rem, 3.938rem));                    
                }
            }

            ul {
                margin-left: 0px;
                margin-top: calc(clamp(2.188rem, 1.124vw + 1.912rem, 3.125rem));
                margin-bottom: 0;     
                @include breakpoint(llarge) {                 
                    margin-left: 15px;
                }

                li {
                    font-family: 'UntitledSerif';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 116.6%;
                    padding-left: 45px;
                    /* or 26px */
                    letter-spacing: -0.01em;
                    position: relative;
                    margin-bottom: calc(clamp(1rem, 0.599vw + 0.853rem, 1.5rem));
                    font-size: clamp(18px, calc(18px + (22 - 18) * ((100vw - 393px) / (1023 - 393))), 22px);
                    @include breakpoint(large) {
                        font-size: clamp(22px, calc(22px + (22 - 22) * ((100vw - 1024px) / (1728 - 1024))), 22px);                      
                    }

                    ul {
                        margin-left: 0px;
                        margin-top: 25px;                  

                        li {
                            padding-left: 38px;
                            margin-bottom: 15px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &::before {
                                background: url('#{$img}settings/intent-icon.svg') no-repeat;
                                transform: rotate(0);
                                top: 5px;
                            }
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 0;
                        background: url('#{$img}settings/squareBullet.svg') no-repeat;
                        background-size: contain;
                        height: 18px;
                        width: 18px;
                        display: inline-block;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            +.programcontentWrap {
                @include breakpoint(large) {
                    margin-top: 126px;
                }
            }

            a {
                font-family: 'UntitledSerif';
                font-style: normal;
                font-weight: 700;
                font-size: clamp(25px, calc(25px + (25 - 25) * ((100vw - 393px) / (1728 - 393))), 25px);
                line-height: 97.1%;
                /* or 24px */
                text-decoration: none;
                letter-spacing: -0.025em;
                position: relative;

                &::after {
                    content: '';
                    position: relative;
                    right: -24px;
                    background: url("#{$img}settings/arrow-blue.svg") no-repeat;
                    width: 27px;
                    display: inline-block;
                    height: 15px;
                }
            }
        }

        .imgWrapFull {
            margin-top: calc(clamp(2.188rem, 1.873vw + 1.728rem, 3.75rem));
            @include breakpoint(small only) {
                margin-inline: -20px;
            }

            img {
                @media (max-width:479px) {
                    height: 90px;
                }
            }         
            +.programcontentWrap {
                margin-top: calc(clamp(2.5rem, 2.247vw + 1.948rem, 4.375rem));              
            }
        }
    }

    &.bgbenefits {
        background: $bgpanel-color;   
        padding-top: calc(clamp(2.5rem, 8.24vw + 0.476rem, 9.375rem));
        padding-bottom: calc(clamp(2.5rem, 8.24vw + 0.476rem, 9.375rem));  
        .benefitcontent {
            ul {
                li {
                    &::before {
                        background: url('#{$img}settings/racialBullet.svg') no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

.benfittitleDesc+link+.benefits {
    margin-top: calc(clamp(2.188rem, 2.022vw + 1.691rem, 3.875rem));   
}
.benfittitleDesc+link+.benefits.bgbenefits {
    @include breakpoint(large) {
        margin-top: clamp(100px, calc(100px + (150 - 100) * ((100vw - 1024px) / (1728 - 1024))), 150px);
    }
}