@import "util/util";
// 1. Global
// ---------
$global-font-size: 100%;
$global-width: rem-calc(1450);
$global-lineheight: 1.5;
$foundation-palette: (
    primary: #3573c8,
    secondary: #fed602,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37, 
);
$primary-color: #000000;
$secondary-blue: #00295f;
$secondary-color: #A78D2B;
$tertiary-color: #FED602;
$grey-bg-color: #cadcef;
$mainfontcolor: #00214e;
$yellow-bg-color: #EEB944;
$light-gray: #e9e9e9;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #000000;
$black-color: #000000;
$white: #ffffff;
$white-color: #ffffff;
$body-background: $white;
$body-font-color: #000000;
$body-font-family: 'opensans', sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 8px;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;
$global-flexbox: true;
$global-prototype-breakpoints: false;
$global-button-cursor: auto;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;
$print-hrefs: true;
$lightblue: #01295b;
@include add-foundation-colors;
// 2. Breakpoints
// --------------
$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    xlarge: 1366px,
    xxlarge: 1440px,
);
$breakpoints-hidpi: (
    hidpi-1: 1,
    hidpi-1-5: 1.5,
    hidpi-2: 2,
    retina: 2,
    hidpi-3: 3,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);
// 3. The Grid
// -----------
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 20px,
    medium: 30px,
);
$grid-column-align-edge: true;
$grid-column-alias: "columns";
$block-grid-max: 8;
// 4. Base Typography
// ------------------
$head-font-family: 'opensans', sans-serif;
$header-font-family: $head-font-family;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$header-color: $body-font-color;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-styles: (
    small: (
        "h1": (
            "font-size": 40,
            "line-height": 45,
        ),
        "h2": (
            "font-size": 24,
            "line-height": 32,
        ),
        "h3": (
            "font-size": 25,
            "line-height": 34,
        ),
        "h4": (
            "font-size": 24,
            "line-height": 32,
        ),
        "h5": (
            "font-size": 22,
            "line-height": 27,
        ),
        "h6": (
            "font-size": 20,
            "line-height": 27,
        ),
        "p": (
            "font-size": 18,
            "line-height": 25,
        ),
        "li": (
            "font-size": 20,
            "line-height": 27,
        ),
    ),
    medium: (
        "h1": (
            "font-size": 40,
            "line-height": 45,
        ),
        "h2": (
            "font-size": 24,
            "line-height": 32,
        ),
        "h3": (
            "font-size": 30,
            "line-height": 33,
        ),
        "h4": (
            "font-size": 25,
            "line-height": 27,
        ),
        "h5": (
            "font-size": 22,
            "line-height": 27,
        ),
        "h6": (
            "font-size": 20,
            "line-height": 27,
        ),
        "p": (
            "font-size": 18,
            "line-height": 25,
        ),
        "li": (
            "font-size": 20,
            "line-height": 27,
        ),
    ),
    large: (
        "h1": (
            "font-size": 60,
            "line-height": 74,
        ),
        "h2": (
            "font-size": 42,
            "line-height": 56,
        ),
        "h3": (
            "font-size": 38,
            "line-height": 51,
        ),
        "h4": (
            "font-size": 30,
            "line-height": 40,
        ),
        "h5": (
            "font-size": 22,
            "line-height": 27,
        ),
        "h6": (
            "font-size": 20,
            "line-height": 27,
        ),
        "p": (
            "font-size": 20,
            "line-height": 27,
        ),
        "li": (
            "font-size": 20,
            "line-height": 27,
        ),
    ),
    xlarge: (
        "h1": (
            "font-size": 80,
            "line-height": 74,
        ),
        "h2": (
            "font-size": 42,
            "line-height": 56,
        ),
        "h3": (
            "font-size": 38,
            "line-height": 51,
        ),
        "h4": (
            "font-size": 26,
            "line-height": 36,
        ),
        "h5": (
            "font-size": 22,
            "line-height": 27,
        ),
        "h6": (
            "font-size": 20,
            "line-height": 27,
        ),
        "p": (
            "font-size": 22,
            "line-height": 30,
        ),
        "li": (
            "font-size": 20,
            "line-height": 27,
        ),
    ),
);
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$enable-code-inline: true;
$anchor-color: $body-font-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: none;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;
$enable-cite-block: true;
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;
// 5. Typography Helpers
// ---------------------
$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;
$cite-color: $dark-gray;
$cite-font-size: rem-calc(13);
$cite-pseudo-content: "\2014 \0020";
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$code-block-padding: 1rem;
$code-block-margin-bottom: 1.5rem;



// 40. Prototype Shadow
// --------------------
$prototype-shadow-breakpoints: $global-prototype-breakpoints;
$prototype-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
// 41. Prototype Sizing
// --------------------
$prototype-sizing-breakpoints: $global-prototype-breakpoints;
$prototype-sizing: (width, height);
$prototype-sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);
// 42. Prototype Spacing
// ---------------------
$prototype-spacing-breakpoints: $global-prototype-breakpoints;
$prototype-spacers-count: 3;
// 43. Prototype Text-Decoration
// -----------------------------
$prototype-decoration-breakpoints: $global-prototype-breakpoints;
$prototype-text-decoration: (overline, underline, line-through);
// 44. Prototype Text-Transformation
// ---------------------------------
$prototype-transformation-breakpoints: $global-prototype-breakpoints;
$prototype-text-transformation: (lowercase, uppercase, capitalize);
// 45. Prototype Text-Utilities
// ----------------------------
$prototype-utilities-breakpoints: $global-prototype-breakpoints;
$prototype-text-overflow: ellipsis;
// 46. Responsive Embed
// --------------------
$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (
    default: 4 by 3,
    widescreen: 16 by 9,
);

// 51. Tabs
// --------
$tab-margin: 0;
$tab-background: $white;
$tab-color: $primary-color;
$tab-background-active: $light-gray;
$tab-active-color: $primary-color;
$tab-item-font-size: rem-calc(12);
$tab-item-background-hover: $white;
$tab-item-padding: 1.25rem 1.5rem;
$tab-content-background: $white;
$tab-content-border: $light-gray;
$tab-content-color: $body-font-color;
$tab-content-padding: 1rem;
// 52. Thumbnail
// -------------
$thumbnail-border: 4px solid $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;



// 56. Xy Grid
// -----------
$xy-grid: true;
$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
    small: 20px,
    medium: 0px,
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;
// 56. Custom
// -----------
$img: "/images";
$font-weight-normal: normal;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$primarybgcolor: $primary-color;
$geybgcolor: $grey-bg-color;
$white-color: #ffffff;

.primarycolor {
    color: $body-font-color;
}

.darkbluecolor {
    color: $body-font-color;
}

.whitecolor {
    color: $white-color;
}

.secondarycolor {
    color: $secondary-color;
}

.primarybgcolor {
    background: $primarybgcolor;
    color: $white-color;
}
.darkbluebgcolor {
    background: $body-font-color;
    color: $white-color;
}

.whitebgcolor {
    background: $white-color;
    color: $primary-color;
}

.secondarybgcolor {
    background: $secondary-color;
    color: $white-color;
}

.light-gray {
    background-color: $light-gray !important;
    color: #000000 !important;
    &:hover {
        background-color: $primary-color !important;
        color: #ffffff !important;
    }
}

.greybgpanel {
    background: $grey-bg-color;
}

.lightgreybgpanel {
    background: $tertiary-color;
}

.whitebgpanel {
    background: $white-color;
}

// Scroll to Top button
.backtoTop {
    position: fixed;
    bottom: 59px;
    right: 15px;
    background: #3573c8;
    width: 35px;
    height: 35px;
    text-decoration: none;
    border-radius: 50px;
    display: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
    font-size: 0;
    border: solid 2px #3573c8;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

    @media (min-width: 1024px) and (max-width: 1279px) {
        bottom: 50px;
    }

    span {
        &:before {
            content: "";
            background: #fff;
            width: 3px;
            height: 15px;
            position: absolute;
            left: 18px;
            top: 7px;
            transform: rotate(-40deg);
        }
        &:after {
            content: "";
            background: #fff;
            width: 3px;
            height: 15px;
            position: absolute;
            left: 10px;
            top: 7px;
            transform: rotate(40deg);
        }
    }
    &:hover {
        background: #3573c8;
        border: solid 2px #3573c8;
        span {
            &:before,
            &:after {
                background: #ffffff;
            }
        }
    }
}

.radius {
    border-radius: $global-radius;
}

.shadow {
    box-shadow: $prototype-box-shadow;
}

.overflow-hidden {
    overflow: hidden;
}

.text-uppercase {
    text-transform: uppercase;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.font-weight-normal {
    font-weight: normal;
}

$font-weight-normal: normal;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

button.ctabtn,
.ctabtn {
    color: $white-color;
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;
    padding: 4px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
    min-height: 45px;
    position: relative;
    vertical-align: middle;
    border-radius: 28.5px;
    background: transparent;
    overflow: hidden;
    margin-right: 0px;
    cursor: pointer;
    background: $primary-color;
    border: 2px solid $primary-color;
    min-width: 178px;
    width: auto;
    z-index:1;
    @include breakpoint(large) {
        font-size: 21px;
        line-height: 29px;
        min-height: 57px;
        padding: 8px 20px;
        min-width: auto;
    }
    span {
    }
    &:before {
        background: $secondary-color;
        content: "";
        position: absolute;
        z-index: -1;
        color: #fff;
        width: 100.1%;
    }
    &:after {
        background: $secondary-color;
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        height: 0;
        left: 0;
        top: 0;
        width: 100.1%;
        color: #fff;
    }
    &:hover {
        color: $white-color;
        text-decoration: none;
        border: 2px solid $secondary-color;
        &:after {
            height: 100%;
            z-index: 1;
        }
        span {
            z-index: 2;
        }
    }
    &.small {
        min-height: 51px;
        font-size: 15px;
    }
    &.primarybtn {
        // background: $primary-color;
        color: $white-color;
        border: 0px;
        &:after {
            background: $secondary-color;
            color: $white-color;
            z-index: 1;
        }
        span {
            z-index: 2;
        }
        &:hover {
            color: $white-color;
            border: $secondary-color;
            &:after {
                height: 100%;
                z-index: 1;
            }
            span {
                color: #ffffff;
                z-index: 2;
            }
        }
    }
    &.secondarybtn {
        background: $secondary-color;
        color: $white-color;
        &:after {
            background: $primary-color;
            color: $white-color;
            z-index: 1;
        }
        span {
            z-index: 2;
        }
        &:hover {
            color: $white-color;
            border: $primary-color;
            &:after {
                height: 100%;
                z-index: 1;
            }
            span {
                color: #ffffff;
                z-index: 2;
            }
        }
    }
}

button.ctaborder,
.ctaborder {
    color: $body-font-color;
    font-size: 21px;
    line-height: 29px;
    font-weight: bold;
    padding: 6px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 57px;
    position: relative;
    vertical-align: middle;
    border-radius: 28.5px;
    background: transparent;
    overflow: hidden;
    margin-right: 0px;
    cursor: pointer;
    border: 0px;
    border: 2px solid $body-font-color;
    background-color: transparent;
    min-width: auto;
    width: auto;
    text-transform: uppercase;
    transition: all 0.3s;
    z-index: 1;
    @include breakpoint(large) {
        font-size: 21px;
        line-height: 29px;
        min-height: 57px;
        padding: 8px 20px;
        min-width: auto;
    }

    &:after,
    &:before {
        background-color: $body-font-color;
        content: "";
        position: absolute;
        z-index: -1;
    }
    &:after {
        height: 0;
        left: 0;
        top: 0;
        width: 100%;
        transition: all 0.3s;
        border-radius: 25px;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        border: solid 2px transparent;
        &:after {
            height: 100%;
        }
    }

    &.white-btn {
        border: 2px solid $white-color;
        &:before,
        &:after {
            background-color: $white-color;
        }
    }
}

button.ctabtn {
    background-image: linear-gradient(0, $secondary-color, $secondary-color);
    transition: all 0.3s;
    background-size: 100% 0;
    background-repeat: no-repeat;
    background-position: top;
    &:hover {
        background-size: 100% 100%;
        color: #fff;
    }
    &:after,
    &::before {
        display: none;
    }
}

button.ctaborder {
    background-image: linear-gradient(0, $primary-color, $primary-color) !important;
    transition: all 0.3s;
    background-size: 100% 0 !important;
    background-repeat: no-repeat;
    background-position: top !important;
    &:hover {
        background-size: 100% 100% !important;
        color: $white-color;
    }
    &:after,
    &::before {
   
    }
}

.whitecolor {
    .ctabtn {
        background: $white-color;
        color: #ffffff;
    }
}

.whitecolor {
    .ctaborder {
        border: solid 2px $white-color;
        color: #ffffff;
    }
}

.whitebgpanel {
    .ctabtn {
        color: $white-color;
    }
}

a[href^="tel"],
a [href^="mailto"],
a {
    color: $body-font-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

header,
.footer,
.fixedSideNav,
.ctabtn,
.link-cta {
    a[href^="tel"],
    a [href^="mailto"],
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

input[type="text"]::-ms-clear {
    display: none;
}

.txtArea,
.txtBox {
    appearance: none;
}

.fade {
    .siteWrap {
        transition: all 0.55s;
    }
}

.bodyBg {
    .siteWrap {
        opacity: 1;
    }
}

.pointerNone {
    pointer-events: none;
}

.loaderBlock {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999999;
    .svgAnimation {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: svgzoom 1.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            circle {
                fill: #f3f3f3;
            }
        }
    }
    .loaderWrap {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        text-align: center;
        // animation: error 0.35s cubic-bezier(.36,.07,.19,.97) both;
        // transform: translate3d(0, 0, 0);
        // backface-visibility: hidden;
        // perspective: 1000px; animation-delay: 0.3s;
        img {
            max-width: 45%;
            @include breakpoint(medium) {
                max-width: 67%;
            }
        }
    }
}

@-webkit-keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

/* #Progress
================================================== */

.progress-wrap {
    position: fixed;
    right: 4px;
    bottom: 95px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background: $primary-color;

    @include breakpoint(large){
        bottom: 10px; 
    }

    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &:after {
        position: absolute;
        content: "";
        background: url("#{$img}/Timeline/up-arrow.svg") no-repeat;
        background-size: contain;
        text-align: center;
        right: 10px;
        top: 13px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all 200ms linear;
        transform: rotate(-90deg);
    }
    &:before {
        position: absolute;
        content: "";
        background-size: contain;
        text-align: center;
        opacity: 0;
        background: url("#{$img}/Timeline/up-arrow.svg") no-repeat;
        -webkit-text-fill-color: transparent;
        right: 10px;
        top: 13px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        display: none;
        z-index: 2;
        transition: all 200ms linear;
        transform: scale(0.9) rotate(-90deg);
    }
    svg {
        overflow: hidden;
        vertical-align: middle;
    }
    svg.progress-circle path {
        stroke: $secondary-color;
        stroke-width: 4px;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    svg path {
        fill: none;
    }
    &:hover {
        :after {
            opacity: 1;
        }
        &:before {
            opacity: 0;
        }
    }
}

// ADA Fixes
.screen-reader-text {
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    word-wrap: normal !important;
    border: 0 none;
}

// Wave Effects
@mixin btn-sectionEffects() {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    &:hover {
        background: #5f7d37;
        color: inherit;
    }
}

.ctaLinks {
    @include btn-sectionEffects();
}

.ctaLinks {
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

p {
    .ctaLinks {
        text-decoration: none;
    }
}

.ctaLinks.disabled {
    cursor: default;
}

.ctaLinks.disabled .waves-ripple {
    display: none !important;
}

.ctaLinks .waves-ripple {
    position: absolute;
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease-out;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transform: scale(0);
    pointer-events: none;
}

.ctaLinks input[type="button"],
.ctaLinks input[type="reset"],
.ctaLinks input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

/* Skip Content */

#skiptocontent {
    a {
        padding: 6px;
        position: fixed;
        top: 2px;
        left: 0;
        color: #000;
        background: 0 0;
        transition: top 1s ease-out, background 1s linear;
        z-index: -9999999999;
        opacity: 0;
        font-size: 17px;
        &:active,
        &:focus {
            position: fixed;
            left: 0;
            top: 0;
            background: $primary-color;
            color: #fff;
            -webkit-transition: top 0.1s ease-in, background 0.5s linear;
            transition: top 0.1s ease-in, background 0.5s linear;
            z-index: 99999999999;
            opacity: 1;
        }
    }
}

/* --------------- End Off -------------*/

a:focus,
button:focus,
input:focus,
textarea:focus,
.form-control:focus,
.btn:focus,
.custom-select:focus,
.custom-range:focus,
.page-link:focus {
    &:focus {
        outline-style: solid;
        outline-color: $black;
        outline-width: 2px;
        box-shadow: none;
    }
}

[type="text"]:focus,
[type="password"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="color"]:focus,
textarea:focus {
    outline-style: dashed !important;
    outline-color: $secondary-color;
    outline-width: 1px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (min-width: 1366px) {
    .Windows body::-webkit-scrollbar {
        width: 1em;
    }
    .Windows body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .Windows body::-webkit-scrollbar-thumb {
        background-color: #707070;
        outline: 1px solid #707070;
    }
}

.link-cta {
    color: $body-font-color !important;
    position: relative;
    padding-right: 0px;
    display: inline-block !important;
    transition: all 0.55s;
    font-size: 23px;
    line-height: 30px;
    font-weight: 700;
    @include breakpoint(large) {
        font-size: 27px;
        line-height: 36px;
    }
    @include breakpoint(xlarge) {
        font-size: 30px;
        line-height: 40px;
    }
    &:after {
        content: ">";
        display: inline-block;
        vertical-align: middle;
        width: 27px;
        position: relative;
        color: #1c375e;
        right: 5px;
        font-size: 23px;
        line-height: 39px;
        font-weight: 700;
        height: 45px;
        @include breakpoint(large) {
            font-size: 27px;
            line-height: 38px;
        }
        @include breakpoint(xlarge) {
            font-size: 30px;
            line-height: 38px;
        }
    }
    &:hover {
        padding-left: 10px !important;
        text-decoration: none;
    }
}


.iconpanel,
.alternativepanel,
.testimonial,
.socialPanel,
.newsletterPannel,
.bluepanel,
.treepanel .footer {
    content-visibility: auto;
    contain-intrinsic-size: 0 500px;
}

/* Animations */

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.zoomIn {
    animation-name: zoomIn;
}

.rollOut {
    animation-name: rollOut;
}

.zoomInDown {
    animation-name: zoomInDown;
}

.zoomInUp {
    animation-name: zoomInUp;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes error {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes rollOut {
    from {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes svgzoom {
    from {
        opacity: 1;
        transform: scale(0.2);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 0;
        transform: scale(2.2);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.removeLoader {
    .loaderBlock {
        display: none;
    }
}

.waves-notransition {
    transition: none !important;
}

.waves-circle {
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.waves-block {
    display: block;
}

/* Firefox Bug: link not triggered */

.ctaLinks .waves-ripple {
    z-index: -1;
}

.ctaLinks .waves-ripple {
    background-color: rgba(137, 193, 61, 0.5);
}

.ctaLinks.orange .waves-ripple {
    background-color: rgba(255, 187, 99, 0.9);
}

.ctaLinks.bgray .waves-ripple {
    background-color: rgba(204, 204, 204, 0.5);
}

.nprogress-busy {
    .backtoTop {
        display: none;
    }
    #skiptocontent {
        display: none;
    }
}

.ie11 {
    button.ctabtn,
    .ctabtn {
        border: 2px solid $primary-color;
    }
}

.grid-container {
    max-width: 85.50rem !important;
    @media (max-width: 767px) {
        max-width: 450px !important;
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        max-width: 767px !important;
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        padding-left: 20px !important;
        padding-right: 20px !important;
        width: 100%;
    }
    @media (min-width: 1280px) and (max-width: 1529px) {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.flexwrap {
    display: block;
    @include breakpoint(large) {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {
    h1,
    .h1 {
        font-size: 50px !important;
        line-height: 70px !important;
    }
}

.siteWrap {
    overflow: hidden;
}

a:focus {
    outline: 2px dashed #211f1f !important;
    border-width:none;
    }