footer {
    margin-top: clamp(60px, calc(60px + (110 - 60) * ((100vw - 375px) / (1920 - 375))), 110px);

    .footer-logo {
        width: clamp(217px, calc(217px + (284 - 217) * ((100vw - 375px) / (1920 - 375))), 284px);




        //  @media screen and (min-width:1700px) {            
        //    margin-left: 1.6%;
        //  }

    }


    br {
        @include breakpoint(medium) {
            display: none;
        }

        +span {
            display: none;

            @include breakpoint(medium) {
                display: inline-block;
            }
        }
    }

    &.threerow {
        bottom: 0;
        left: 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;

        li,
        a,
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $black;
            margin-bottom: 6px;
            text-decoration: none;
            color: #000000;

            @include breakpoint(small only) {
                margin-bottom: 14px;
            }

            @include breakpoint(medium) {
                font-size: 18px;
                line-height: 24px;
            }

            // @include breakpoint(large) {
            //     font-size: 19px;
            // }
            @include breakpoint(xlarge) {
                font-size: 24px;
                line-height: 34px;
            }
        }

        a {
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }

        ul {
            margin-left: 0;
            margin-top: 0;

            @media (min-width:991px) and (max-width:1024px) {
                margin-top: -5px;
            }
        }
    }

    .footersec {
        padding-top: 28px;
        padding-bottom: clamp(20px, calc(20px + (26 - 20) * ((100vw - 375px) / (1920 - 375))), 26px);
        width: 100%;
    }

    .primaryfooter {
        position: relative;
        padding-top: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include breakpoint(medium) {
            flex-direction: row;
            justify-content: space-between;
        }

        @include breakpoint(xlarge) {
            flex-wrap: nowrap;
            padding-top: 0;
        }

        // @media screen and (min-width:1700px) {

        //    margin-left: 1.55%; 
        // }

        .fLogo {
            max-width: 100%;
            padding-bottom: 25px;

            @include breakpoint(small only) {
                padding-bottom: 15px;
            }

            img {
                @include breakpoint(small only) {
                    max-width: 133px;
                }
            }

            &::before {
                content: '';
                background: $secondary-color;
                height: 13px;
                width: 20%;
                position: absolute;
                top: 0;
                left: -6px;
                overflow: hidden;

                @media (min-width: 768px) and (max-width: 1279px) {
                    height: 8px;
                    width: 331px;
                }

                @media (min-width: 1460px) {
                    width: 27%;
                }

                @include breakpoint(small only) {
                    width: 122px;
                    left: 0;
                    height: 8px;
                }
            }
        }

        .foot-content {

            // width: 100%;
            p {

                &:first-child,
                &:nth-child(2) {
                    margin-bottom: 0 !important;
                }

                margin-top: 0;

                &:last-child {
                    @include breakpoint(medium only) {
                        margin-top: 5px;
                    }
                }
            }

            @include breakpoint(medium) {
                width: 263px;
            }

            @include breakpoint(xlarge) {
                width: 376px;
            }
        }

        .route-social {
            width: 100%;

            p {
                display: block;
                font-size: 12px;
                line-height: 15px;
                color: $primary-color;

                @include breakpoint(medium) {
                    font-size: 18px;
                    line-height: 22px;
                }

                @media (min-width: 768px) and (max-width: 1279px) {
                    text-align: center;
                }

                @include breakpoint(xlarge) {
                    font-size: 21px;
                    line-height: 25px;
                }
            }

            img {
                padding-bottom: 44px;

                @include breakpoint(medium only) {
                    padding-bottom: 34px;
                }
            }
        }

        .menutitle {
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            color: #000;
            padding-bottom: 0px;

            @include breakpoint(small only) {
                margin-bottom: 18px;
            }

            @include breakpoint(medium) {
                font-size: 16px;
                line-height: 22px;
                padding-bottom: 12px;
            }

            @media (min-width:991px) and (max-width:1024px) {
                margin-top: 8px;
            }

            @include breakpoint(large) {
                padding-bottom: 8px;
                font-size: 24px;
                line-height: 38px;
            }

            @include breakpoint(xlarge) {
                font-size: 28px;
                padding-bottom: 8px;
            }
        }



        //  .column-2,
        //  .column-3,
        //  .column-4 {

        //      // width: 100%;
        //      // width: 100%;
        //      // margin-right: 0px;
        //      @include breakpoint(large) {
        //          margin-right: 22px;
        //          max-width: 100%;
        //      }

        //      @include breakpoint(xlarge) {
        //          margin-right: 62px;
        //      }

        //      @media (min-width: 768px) and (max-width: 1279px) {

        //          p,
        //          a {
        //              font-size: 18px;
        //              line-height: 44px;
        //          }

        //      }

        //      @include breakpoint(medium) {
        //          p.menutitle {
        //              font-size: 18px;
        //              line-height: 22px;
        //              margin-bottom: 5px;
        //          }
        //      }

        //      @include breakpoint(xlarge) {
        //          p.menutitle {
        //              font-size: 24px;
        //              line-height: 33px;
        //          }
        //      }
        //  }

        .column-1 {
            width: 100%;
            max-width: 100%;

            @include breakpoint(small only) {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 37px;
            }

            @include breakpoint(medium) {
                width: 40.4%;
                // margin-right: 25px;
            }

            @include breakpoint(large) {
                // width: 29.4%;
                // max-width: 300px;
                // margin-right: 83px;
            }

            @media (min-width: 768px) and (max-width: 1279px) {}

            @media (min-width: 1360px) {
                width: 34.4%;
            }

            @media (min-width: 1460px) {
                width: 33.3%;
            }

            @media (min-width: 1648px) {
                width: 38.2%;
            }
        }

        .column-2 {
            @include breakpoint(small only) {
                padding-bottom: 37px;
            }

            @include breakpoint(medium) {
                width: 25%;
            }

            @include breakpoint(large) {

                // width: 19%;
            }

            @media (min-width: 768px) and (max-width: 1279px) {
                margin-right: 20px;
            }

            @media (min-width: 1024px) and (max-width: 1040px) {
                margin-right: 0px;
            }

            @include breakpoint(xlarge) {
                margin-top: 0px;
                width: 23.5%;
            }

            @media (min-width: 1500px) {
                // width: 33%;
                // margin-right: 126px;
            }

            li,
            a {
                @include breakpoint(medium) {
                    font-size: 16px;
                    line-height: 35px;
                    margin-bottom: 0;
                }

                @include breakpoint(xlarge) {
                    font-size: 20px;
                    line-height: 40px;
                    margin-bottom: 0;
                }
            }

            p {

                @include breakpoint(medium) {
                    font-size: 18px;
                    line-height: 22px;
                }

                @include breakpoint(xlarge) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }

        .column-3 {
            @include breakpoint(small only) {
                padding-bottom: 37px;
            }

            @include breakpoint(medium) {
                width: 23.6%;
                margin-right: 0;
            }

            @include breakpoint(large) {
                width: 21%;
                margin-right: 0;
            }

            @include breakpoint(xlarge) {
                width: 23.5%;
            }

            li,
            a {
                @include breakpoint(medium) {
                    font-size: 16px;
                    line-height: 35px;
                    margin-bottom: 0;
                }

                @include breakpoint(xlarge) {
                    font-size: 20px;
                    line-height: 40px;
                    margin-bottom: 0;
                }
            }

            p {

                @include breakpoint(medium) {
                    font-size: 18px;
                    line-height: 22px;
                }

                @include breakpoint(xlarge) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }



        }

        .column-4 {
            margin-right: 0px;


            @include breakpoint(medium) {
                max-width: 100%;
                width: 5%;
                margin-right: 0;
            }

            @include breakpoint(large) {
                width: 13%;
            }

            @include breakpoint(xlarge) {
                width: 16%;
            }

            @media (min-width: 1024px) and (max-width: 1279px) {
                width: 10%;
            }
        }
    }

    .foot-custom {
        background: #575757;
    }

    .secondaryfooter {
        background: #575757;
        padding-top: 0px;
        padding-bottom: clamp(17px, calc(17px + (25 - 17) * ((100vw - 375px) / (1920 - 375))), 25px);






        .grid-container {
            width: 100%;

            .column-custom {
                display: block;
                width: 100%;
                margin-bottom: 0;
                text-align: left;

                // padding-top: 15px;
                @include breakpoint(medium) {
                    display: flex;
                    flex-wrap: wrap;
                    text-align: left;
                    padding-top: 0;
                    margin-left: 0;
                    flex-direction: row;
                    align-items: left;
                    align-items: center;
                    gap: 20px;
                }

                ul {

                    //    &:first-child {
                    //        li {
                    //            @include breakpoint(medium) {
                    //                padding-right: 0;
                    //                padding-bottom: 20px;
                    //            } 
                    //            @include breakpoint(xlarge) {
                    //               padding-right: 12px;    
                    //               padding-bottom: 0;        
                    //            }
                    //            @media (min-width:1360px) and (max-width:1480px) {  
                    //                padding-right: clamp(0.375rem, calc( 8.333vw - 6.708rem), 1rem);
                    //                padding-bottom: 0;
                    //            }
                    //        }
                    //    }
                    display: flex;

                    @include breakpoint(medium) {
                        flex-wrap: wrap;
                        text-align: left;
                        padding-top: 0;
                        margin-left: 0;
                        position: relative;
                        top: 1px;

                        // padding-top: 18px;

                        li,
                        p,
                        a {
                            color: #ffffff;

                            @include breakpoint(medium) {
                                font-size: 14px;
                                line-height: 19px;
                            }
                        }
                    }

                    li,
                    p,
                    a {
                        color: #ffffff;
                    }

                    &.copyright {
                        display: inherit;

                        li {
                            padding-right: 3px;
                            margin-left: 0px;

                            span {
                                &:first-child {
                                    font-size: 20px;
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }
                    }
                }

                .col-2nd {
                    li {
                        position: relative;

                        &::before {
                            content: '|';
                            position: absolute;
                            left: -8px;
                            top: 0;
                            height: 0;
                            display: inline-block;
                        }

                        &:first-child {
                            &::before {
                                content: inherit
                            }

                        }

                    }

                }

                li {
                    padding-right: 10px;

                    &:first-child {
                        @include breakpoint(small only) {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }

                li,
                a {
                    font-size: 14px;
                    line-height: 30px;
                    font-weight: 400;
                    padding-bottom: 0px;
                    margin-bottom: 0px;

                }

                &.copy {
                    li {
                        min-width: fit-content;

                        @include breakpoint(medium only) {
                            min-width: auto;
                        }

                        &:last-child {
                            min-width: auto;
                            margin-left: 0px;

                            @include breakpoint(medium) {
                                margin-left: 16px;
                            }

                            @include breakpoint(large) {
                                margin-left: 40px;
                            }

                            @include breakpoint(xlarge) {
                                margin-left: 60px;
                            }

                            a {
                                font-weight: bold;
                                text-decoration: underline;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }

                        @include breakpoint(large only) {
                            min-width: auto;
                        }
                    }
                }

            }
        }
    }
}

.socialLnkpanel {
    margin-top: clamp(18px, calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 375))), 20px);

    .sociallinks {
        display: flex;
        align-items: center;
        //  transform: translateX(0px);
        margin-top: 8px !important;
        margin-bottom: 0;

        @include breakpoint(medium) {
            //  transform: translate(-120px, -75px);
        }

        @include breakpoint(large) {
            //  transform: translate(20px, -70px);
        }

        @include breakpoint(xlarge) {
            //  transform: translateX(80px);
        }


        li {
            font-size: 0;
            line-height: 0px;
            margin-bottom: 0;

            margin-right: 25px;
            ;


            a {
                font-size: 0;
                line-height: 0px;

                img {
                    transition: all 0.5s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                svg {
                    transition: all 0.5s;



                    &:hover {
                        transition: all 0.5s;
                        transform: scale(1.05);

                        path,
                        circle {
                            fill: $primary-color;
                        }
                    }

                }
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}